<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="/" class="logo logo-light">
        <span class="logo-lg">
            <img src="/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="/" class="logo logo-dark">
        <span class="logo-lg">
            <img src="/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user p-3 text-white">
            <a href="pages-profile" class="d-flex align-items-center text-reset">
                <div class="flex-shrink-0">
                    <img src="/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow">
                </div>
                <div class="flex-grow-1 ms-2">
                    <span class="fw-semibold fs-15 d-block">Sabrish S</span>
                    <span class="fs-13">Founder</span>
                </div>
                <div class="ms-auto">
                    <i class="ri-arrow-right-s-fill fs-20"></i>
                </div>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">
           <br>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#dashboard" aria-expanded="false" aria-controls="dashboard" class="side-nav-link">
                    <i class="ri-dashboard-2-fill"></i>
                    <span class="menu-arrow"></span>
                    <span> Dashboard </span>
                </a>
                <div class="collapse" id="dashboard">
                    <ul class="side-nav-second-level">
                        <li>
                            <a data-bs-toggle="collapse" href="#dashboardaccounting" aria-expanded="true" aria-controls="dashboardaccounting" class="side-nav-link">
                                <span class="menu-arrow"></span>
                                <span> Accounting </span>
                            </a>
                             <div class="collapse" id="dashboardaccounting">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="apps-email-inbox">Inbox</a>
                                    </li>
                                    <li>
                                        <a href="apps-email-read">Read Email</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="apps-email-read">HRM</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a href="apps-calendar" class="side-nav-link">
                    <i class="ri-pages-fill"></i>
                    <span class="menu-arrow"></span>
                    <span> HRM System</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="apps-chat" class="side-nav-link">
                    <i class="ri-suitcase-fill"></i>
                    <span class="menu-arrow"></span>
                    <span> Accounting System</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                    <i class="ri-survey-fill"></i>
                    <span> CRM Sys`tem</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarEmail">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-email-inbox">Inbox</a>
                        </li>
                        <li>
                            <a href="apps-email-read">Read Email</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                    <i class="ri-table-fill"></i>
                    <span> Project System </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#usermanagement" aria-expanded="false" aria-controls="usermanagement" class="side-nav-link">
                     <i class="ri-group-2-fill"></i>

                    <span> User Management</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="usermanagement">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#productsystem" aria-expanded="false" aria-controls="productsystem" class="side-nav-link">
                    <i class="ri-layout-3-fill"></i>
                    <span> Product System </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="productsystem">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#possystem" aria-expanded="false" aria-controls="possystem" class="side-nav-link">
                    <i class="ri-apps-2-fill fs-22"></i>
                    <span> POS System </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="possystem">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                    <i class="ri-folder-4-fill"></i>
                    <span> Trading and Services System </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                    <i class="ri-bubble-chart-fill"></i>
                    <span> Support System </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                                            <i class="ri-user-settings-line fs-16 me-1"></i>

                    <span> Zoom System </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                    <i class="ri-chat-voice-fill"></i>
                    <span> Messenger </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                    <i class="ri-calendar-2-fill"></i>
                    <span> Notification Template </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                        <i class="ri-settings-3-fill fs-22"></i>
                    <span> Settings</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-tasks">List</a>
                        </li>
                        <li>
                            <a href="apps-tasks-details">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->