<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">     
            <h4 class="page-title">{{ (page_title) ? page_title : '' }}</h4>
        </div>
    </div>
</div>
<!-- end page title -->