<meta charset="utf-8" />
<title>{{ (title) ? title : '' }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Liviso" name="description" />
<meta content="Coderthemes" name="author" />

<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">