{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Upload Profile Image{% endblock %}

{% block body %}
    <h1>Upload Profile Image</h1>

    {{ form_start(form) }}
        {{ form_row(form.imagePath) }}
        <button type="submit">Upload</button>
    {{ form_end(form) }}
{% endblock %}