.plan {
	.title {
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: Inter;
		font-size: 32px;
		font-weight: 700;
		line-height: 38.73px;
		text-align: right;
	}
	.container {
		margin-top: 100px;
		width: 666px;
		height: 834px;
		gap: 0px;
		border-radius: 16px;
		background-color: white;
		padding: 30px;
		.row {
			.card-body {
				.changer {
					border-radius: 8px;
					.change-plan {
						width: 153px;
						height: 40px;
						border-radius: 8px;
						border: 1px;
					}
				}
			}
		}
	}
}
