.plan {
	.title {
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: Inter;
		font-size: 32px;
		font-weight: 700;
		line-height: 38.73px;
		text-align: right;
		.product-title {
			font-family: Inter;
			font-size: 24px;
			font-weight: 600;
			line-height: 29.05px;
		}
	}
	.container {
		margin-top: 100px;
		width: 666px;
		height: 834px;
		gap: 0px;
		border-radius: 16px;
		background-color: white;
		padding: 30px;
		.row {
			.card-body {
				#inputGroupSelect04 {
					font-family: Inter;
					font-size: 20px;
					font-weight: 400;
					line-height: 24.2px;
					text-align: left;
					max-width: 520px;
					height: 40px;
					// gap: 0px;
					border-radius: 8px;
					border: 1px 0px 0px 0px;
				}
				.changer {
					border-radius: 8px;
					.change-plan {
						width: 153px;
						height: 40px;
						border-radius: 8px;
						border: 1px;
					}
				}
			}
		}
	}
}
