.sys-container{
    background-color: #e1e8ee;
}
.custom-height {
    height: 100%; 
    overflow-x: hidden !important; 
    // background-color: #6c757d;
}
.img-holder{
    width: 200px; 
    height: 200px; 
}
.img-holder img{
    width: 70%; 
    height: 70%; 
}