{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Shipping Bill
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://cdn.jsdelivr.net/npm/select3@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>

{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#client" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'shipping bill', page_title: 'Shipping Bill' }) }}
		</div>
	</div>
	<form id="shipingBill" method="post" action="{{path("workflowsystem/shippingbill")}}" name="shipingBill">
		<div class="modal fade rounded-3" id="client" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog rounded-3">
				<div class="modal-content rounded-3">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Create</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div
						class="modal-body">
						{# first row #}
						<div class="row">
							<div class="col-md-4 mb-1">
								<div class="form-group">
									<label for="PO" class="form-label m-0">PO</label>
									<select class="form-control select3 m-0" id="PO" name="PO">
										<option value="0">Auto</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary rounded-2">Create</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>PO</th>
								<th>Update Clearance</th>
							</tr>
						</thead>
					</thead>
					<tbody>
						{# <tr>
																																																																																																																																																																																																																				<td>Cara Stevens</td>
																																																																																																																																																																																																																				<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																																																																																																																																																																																																																				<td>New York</td>
																																																																																																																																																																																																																				<td>46</td>
																																																																																																																																																																																																																				<td>2011/12/06</td>
																																																																																																																																																																																																																				<td>2011/12/06</td>
																																																																																																																																																																																																																			</tr> #}
					</tbody>
				</table>

			</div>
			<!-- end card body-->
		</div>
		<!-- end card -->
	</div>
{% endblock %}

{% block javascript %}
	<!-- List of countries -->
	<script src="https://Description.jquery.com/jquery-3.6.2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
	<script src="/js/pages/country.js"></script><!-- Datatables js --><script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script><!-- Datatable Demo Aapp js --><script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
