{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Leads
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Export">
					<span class="btn-inner--icon">
						<i class="bi bi-plus"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Leads', page_title: 'Leads' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="row kanban-wrapper horizontal-scroll-cards" data-containers="[&quot;task-list-231&quot;,&quot;task-list-232&quot;,&quot;task-list-233&quot;,&quot;task-list-234&quot;,&quot;task-list-235&quot;]" data-plugin="dragula">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Draft</h4>
						</div>
						<div class="card-body kanban-box" id="task-list-231" data-id="231"></div>
					</div>

				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Sent</h4>
						</div>
						<div class="card-body kanban-box" id="task-list-232" data-id="232"></div>
					</div>

				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Open</h4>
						</div>
						<div class="card-body kanban-box" id="task-list-233" data-id="233"></div>
					</div>

				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Revised</h4>
						</div>
						<div class="card-body kanban-box" id="task-list-234" data-id="234"></div>
					</div>

				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Declined</h4>
						</div>
						<div class="card-body kanban-box" id="task-list-235" data-id="235"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
