{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Timesheet
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Pages', page_title: 'Timesheet' }) }}
{% endblock %}
{% block body %}
	<div class="row mt-4">
		<div class="col-12">
			<div class="card ">
				<div class="card-wrapper project-timesheet overflow-auto" style="display: none;">
					<tfooter></tfooter>
					<table class="table mb-0">
						<thead>
							<tr>
								<th class="text-muted">Title</th>
								<th scope="col" class="heading">
									<span>Mon</span>
									<span>13 Nov</span>
								</th>
								<th scope="col" class="heading">
									<span>Tue</span>
									<span>14 Nov</span>
								</th>
								<th scope="col" class="heading">
									<span>Wed</span>
									<span>15 Nov</span>
								</th>
								<th scope="col" class="heading">
									<span>Thu</span>
									<span>16 Nov</span>
								</th>
								<th scope="col" class="heading">
									<span>Fri</span>
									<span>17 Nov</span>
								</th>
								<th scope="col" class="heading">
									<span>Sat</span>
									<span>18 Nov</span>
								</th>
								<th scope="col" class="heading">
									<span>Sun</span>
									<span>19 Nov</span>
								</th>
								<th class="text-center">Total</th>
							</tr>
						</thead>
						<tbody class="tbody"></tbody>
						<tbody>
							<tr class="bg-primary">
								<td>Total</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="total-date-time">
									<input class="form-control bg-transparent border-white  wid-120" type="text" value="00:00">
								</td>
								<td class="text-center total-value1">
									<input class="form-control bg-transparent border-white wid-120" type="text" value="00:00">
								</td>
							</tr>

						</tbody>
					</table>

					<div class="text-center d-flex align-items-center justify-content-center mt-4 mb-5 timelogged">
						<h5 class="f-w-900 me-2 mb-0">Time Logged :</h5>
						<span class="p-2  f-w-900 rounded  bg-primary d-inline-block border border-dark">00:00 Hours</span>
					</div>

				</div>
				<div class="text-center notfound-timesheet" style="display: block;">
					<div class="empty-project-text text-center p-3 min-h-300">
						<h5 class="pt-5">We couldn't find any data</h5>
						<p class="m-0">Sorry we can't find any timesheet records on this week.</p>
						<p class="m-0">To add timesheet record go to
							<a href="{{path("projectsystem/project")}}">projects</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
