{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Settings
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Settings', page_title: 'Settings' }) }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-2">
							<div id="list-example" class="list-group">
								<a class="list-group-item list-group-item-action active" href="#list-item-1">Brand Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-2">System Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-3">Company Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-4">Time Tracker Setting</a>
								<a class="list-group-item list-group-item-action active" href="#list-item-5">Payment Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-6">Zoom Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-7">Slack Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-8">Telegram Setting</a>
								<a class="list-group-item list-group-item-action active" href="#list-item-9">Twilo Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-10">Email Notification Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-11">Offer Letter Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-12">Joining Letter Setting</a>
								<a class="list-group-item list-group-item-action active" href="#list-item-9">Experience Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-10">NOC Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-11">Google Calendar Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-12">Webhook Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-10">IP Restriction Setting</a>

							</div>
						</div>
						<div class="col">
							<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example custom-height" tabindex="0">
								<div>
									<div class="container">
										<h4 id="list-item-1">
											<b class="text-dark">Brand Settings</b>
										</h4>
										<h6 id="list-item-1">Edit your brand settings</h6>
										<hr>
										<div class="col-xxl-10" id="list-item-1">

											<div
												class="row mt-4 justify-content-evenly">
												<!--Pricing Column-->
												<article class="pricing-column col-xl-3 col-md-6">
													<div class="card">
														<div class="card-body">
															<div class="p-3 text-center">
																<h3 class="text-primary text-uppercase fw-normal fs-16 mb-3">Logo</h3>
																<hr>
															</div>
															<div class="img-holder">
																<img src="/images/logo.png">
															</div>
															<div class="text-center mb-3">
																<label for="fileUpload" class="btn btn-primary btn-bordered-success rounded-pill waves-effect waves-light">
																	<i class="bi bi-upload"></i>
																	Upload File
																	<input type="file" id="fileUpload" style="display: none;">
																</label>
															</div>
														</div>
													</div>
												</article>

												<!--Pricing Column-->
												<article class="pricing-column col-xl-3 col-md-6">
													<div class="card">
														<div class="card-body">
															<div class="p-3 text-center">
																<h3 class="text-primary text-uppercase fw-normal fs-16 mb-3">Favicon</h3>
																<hr>
															</div>
															<div class="img-holder">
																<img src="/images/favicon.ico">
															</div>
															<div class="text-center mb-3">
																<label for="fileUpload" class="btn btn-primary btn-bordered-success rounded-pill waves-effect waves-light">
																	<i class="bi bi-upload"></i>
																	Upload File
																	<input type="file" id="fileUpload" style="display: none;">
																</label>
															</div>

														</div>
													</article>

												</div>
												<!-- end row -->
												<div class="row">
													<div class="col-md-6">
														<form>
															<div class="mb-3">
																<label for="title-text" class="form-label">Title Text</label>
																<input type="text" id="title-text" class="form-control">
															</div>
														</form>
													</div>
													<div class="col-md-6">
														<form>
															<div class="mb-3">
																<label for="footer-text" class="form-label">Footer Text</label>
																<input type="text" id="footer-text" class="form-control">
															</div>
														</form>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12 text-end">
														<button type="button" class="btn btn-info mt-2">Save Changes</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="container">
										<h4 id="list-item-2">
											<b class="text-dark">System Settings</b>
										</h4>
										<h6 id="list-item-2">Edit your brand settings</h6>
										<hr>
										<div class="col-xxl-10" id="list-item-2">
											<div class="row">
												<div class="col-md-6">
													<form>
														<div class="mb-3">
															<label for="title-text" class="form-label">Currency
															</label>
															<input type="text" id="title-text" class="form-control">
														</div>
													</form>
												</div>
												<div class="col-md-6">
													<form>
														<div class="mb-3">
															<label for="footer-text" class="form-label">Currency Symbol</label>
															<input type="text" id="footer-text" class="form-control">
														</div>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label for="currency-position">Currency Symbol Position</label>
													<div class="d-flex align-items-center mt-2">
														<div class="form-check form-check-inline">
															<input type="radio" id="customRadio3" name="customRadio1" class="form-check-input">
															<label class="form-check-label" for="customRadio3">pre</label>
														</div>
														<div class="form-check form-check-inline">
															<input type="radio" id="customRadio4" name="customRadio1" class="form-check-input">
															<label class="form-check-label" for="customRadio4">Pos</label>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<form>
														<div class="mb-3">
															<label for="footer-text" class="form-label">Decimal Number Format</label>
															<input type="text" id="footer-text" class="form-control">
														</div>
													</form>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-12 text-end">
													<button type="button" class="btn btn-info mt-2">Save Changes</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{# <h4 id="list-item-3">Item 3</h4>
																																																				<p>Quis anim sit do amet fugiat dolor velit sit ea ea do
																																																																																																																																																																																																								                                                        reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim
																																																																																																																																																																																																								                                                        proident occaecat excepteur aliquip culpa aute tempor
																																																																																																																																																																																																								                                                        reprehenderit. Deserunt tempor mollit elit ex pariatur
																																																																																																																																																																																																								                                                        dolore velit fugiat mollit culpa irure ullamco est ex
																																																																																																																																																																																																								                                                        ullamco excepteur.</p>
																																																				<h4 id="list-item-4">Item 4</h4>
																																																				<p>Quis anim sit do amet fugiat dolor velit sit ea ea do
																																																					<h4 id="list-item-5">Item 3</h4>
																																																				</p>
																																																				<p>Quis anim sit do amet fugiat dolor velit sit ea ea do
																																																																																																																																																																																																								                                                        reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim
																																																																																																																																																																																																								                                                        proident occaecat excepteur aliquip culpa aute tempor
																																																																																																																																																																																																								                                                        reprehenderit. Deserunt tempor mollit elit ex pariatur
																																																																																																																																																																																																								                                                        dolore velit fugiat mollit culpa irure ullamco est ex
																																																																																																																																																																																																								                                                        ullamco excepteur.</p>
																																																				<h4 id="list-item-6">Item 4</h4>
																																																				<p>Quis anim sit do amet fugiat dolor velit sit ea ea do
																																																																																																																																																																																																								                                                        reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim
																																																																																																																																																																																																								                                                        proident occaecat excepteur aliquip culpa aute tempor
																																																																																																																																																																																																								                                                        reprehenderit. Deserunt tempor mollit elit ex pariatur
																																																																																																																																																																																																								                                                        dolore velit fugiat mollit culpa irure ullamco est ex
																																																																																																																																																																																																								                                                        ullamco excepteur.</p> #}
						</div>
					</div>
				</div>
			</div>
			<!-- end card-body -->
		</div>
		<!-- end card-->
	</div>
	<!-- end col -->
</div>
<!-- end row -->{% endblock %}
