{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Settings
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Settings', page_title: 'Settings' }) }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-2">
							<div id="list-example" class="list-group">
								<a class="list-group-item list-group-item-action active" href="#list-item-1">Brand Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-2">System Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-3">Company Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-4">Time Tracker Setting</a>
								<a class="list-group-item list-group-item-action active" href="#list-item-5">Payment Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-6">Zoom Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-7">Slack Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-8">Telegram Setting</a>
								<a class="list-group-item list-group-item-action active" href="#list-item-9">Twilo Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-10">Email Notification Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-11">Offer Letter Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-12">Joining Letter Setting</a>
								<a class="list-group-item list-group-item-action active" href="#list-item-9">Experience Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-10">NOC Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-11">Google Calendar Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-12">Webhook Setting</a>
								<a class="list-group-item list-group-item-action" href="#list-item-10">IP Restriction Setting</a>

							</div>
						</div>
						<div class="col-10">
							<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example">
								<h4 id="list-item-1">Item 1</h4>
								<p>Ex consequat commodo adipisicing exercitation aute excepteur
																																													                                                        occaecat ullamco duis aliqua id magna ullamco eu. Do aute
																																													                                                        ipsum ipsum ullamco cillum consectetur ut et aute
																																													                                                        consectetur labore. Fugiat laborum incididunt tempor eu
																																													                                                        consequat enim dolore proident. Qui laborum do non excepteur
																																													                                                        nulla magna eiusmod consectetur in. Aliqua et aliqua officia
																																													                                                        quis et incididunt voluptate non anim reprehenderit
																																													                                                        adipisicing dolore ut consequat deserunt mollit dolore.
																																													                                                        Aliquip nulla enim veniam non fugiat id cupidatat nulla elit
																																													                                                        cupidatat commodo velit ut eiusmod cupidatat elit dolore.
								</p>
								<h4 id="list-item-2">Item 2</h4>
								<p>Quis magna Lorem anim amet ipsum do mollit sit cillum
																																													                                                        voluptate ex nulla tempor. Laborum consequat non elit enim
																																													                                                        exercitation cillum aliqua consequat id aliqua. Esse ex
																																													                                                        consectetur mollit voluptate est in duis laboris ad sit
																																													                                                        ipsum anim Lorem. Incididunt veniam velit elit elit veniam
																																													                                                        Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse
																																													                                                        irure. Laborum nisi sit est tempor laborum mollit labore
																																													                                                        officia laborum excepteur commodo non commodo dolor
																																													                                                        excepteur commodo. Ipsum fugiat ex est consectetur ipsum
																																													                                                        commodo tempor sunt in proident.</p>
								<h4 id="list-item-3">Item 3</h4>
								<p>Quis anim sit do amet fugiat dolor velit sit ea ea do
																																													                                                        reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim
																																													                                                        proident occaecat excepteur aliquip culpa aute tempor
																																													                                                        reprehenderit. Deserunt tempor mollit elit ex pariatur
																																													                                                        dolore velit fugiat mollit culpa irure ullamco est ex
																																													                                                        ullamco excepteur.</p>
								<h4 id="list-item-4">Item 4</h4>
								<p>Quis anim sit do amet fugiat dolor velit sit ea ea do
																																													                                                        reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim
																																													                                                        proident occaecat excepteur aliquip culpa aute tempor
																																													                                                        reprehenderit. Deserunt tempor mollit elit ex pariatur
																																													                                                        dolore velit fugiat mollit culpa irure ullamco est ex
																																													                                                        ullamco excepteur.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end card-body -->
			</div>
			<!-- end card-->
		</div>
		<!-- end col -->
	</div>
	<!-- end row -->

{% endblock %}
