//
// forms.scss
//

.form-check-label {
	font-weight: normal;
}
// Form-control light

.form-control-light {
	background-color: var(--#{$prefix}tertiary-bg) !important;
	border-color: var(--#{$prefix}border-color) !important;
	border-width: $card-border-width;
	border-style: solid;
	border-color: $card-border-color;
}

// Form elements (Color and Range)

input.form-control[type="color"],
input.form-control[type="range"] {
	min-height: 39px;
}

// form control error
.error{
	color: red;
	list-style: none;
	-moz-list-bullet: none;
}
// Custom select
.custom-select.is-invalid,
.form-control.is-invalid,
.custom-select:invalid,
.form-control:invalid,
.custom-select.is-valid,
.form-control.is-valid,
.custom-select:valid,
.form-control:valid {
	&:focus {
		box-shadow: none !important;
	}
}

select.form-control {
	&:not([size]):not([multiple]) {
		height: $input-height;
	}
}

select.form-control-sm {
	&:not([size]):not([multiple]) {
		height: $input-height-sm;
	}
}

// Show/Hide Password
.password-eye {
	cursor: pointer;

	&:before {
		font-family: "remixicon";
		content: "\ECB5";
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		vertical-align: middle;
		line-height: 1.2;
		font-size: 16px;
	}
}

.show-password {
	.password-eye {
		&:before {
			content: "\ECB7";
		}
	}
}
.Tocheck {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.Tocheck input {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #eee;
}
