{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Employees Asset Setup
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#employeesAssetSetup" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Employees Asset Setup', page_title: 'Employees Asset Setup' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="employeesAssetSetup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create New Asset</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="col-12 form-group">
								<label for="employee_id" class="form-label">Employee</label>
								<div class="choices" data-type="select-multiple" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
									<div class="choices__inner">
										<select class="form-control select2 choices__input" id="choices-multiple1" multiple="" name="employee_id[]" hidden="" tabindex="-1" data-choice="active"></select>
										<div class="choices__list choices__list--multiple"></div><input type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null"></div>
									<div class="choices__list choices__list--dropdown" aria-expanded="false">
										<div class="choices__list" aria-multiselectable="true" role="listbox">
											<div id="choices--choices-multiple1-item-choice-1" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="132" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Saleem Shahzad</div>
											<div id="choices--choices-multiple1-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="134" data-select-text="Press to select" data-choice-selectable="">William Ndubuisi</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="name" class="form-label">Name</label>
								<input class="form-control" required="required" name="name" type="text" value="" id="name">
							</div>
							<div class="form-group col-md-6">
								<label for="amount" class="form-label">Amount</label>
								<input class="form-control" required="required" step="0.01" name="amount" type="number" value="" id="amount">
							</div>

							<div class="form-group col-md-6">
								<label for="purchase_date" class="form-label">Purchase Date</label>
								<input class="form-control " name="purchase_date" type="date" value="" id="purchase_date">
							</div>
							<div class="form-group col-md-6">
								<label for="supported_date" class="form-label">Supported Date</label>
								<input class="form-control " name="supported_date" type="date" value="" id="supported_date">
							</div>
							<div class="form-group col-md-12">
								<label for="description" class="form-label">Description</label>
								<textarea class="form-control" rows="3" name="description" cols="50" id="description" spellcheck="false"></textarea>
							</div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Name</th>
								<th>Users</th>
								<th>Purchase Date</th>
								<th>Support Date</th>
								<th>Amount</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																						<td>Cara Stevens</td>
																						<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																						<td>New York</td>
																						<td>46</td>
																						<td>2011/12/06</td>
																						<td>2011/12/06</td>
																					</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
