{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Employee Setup
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#employeeSetup2" data-bs-whatever="@mdo">
					<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Import">
						<span class="btn-inner--icon">
							<i class="bi bi-file-earmark-arrow-down"></i>
						</span>
					</a>
				</button>
				<a href="#" class="btn btn-sm btn-primary export-btn" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Export" data-table-id="basic-datatable" data-table-name="Customer_detail">
					<span class="btn-inner--icon">
						<i class="bi bi-file-earmark-arrow-up"></i>
					</span>
				</a>
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#" data-bs-whatever="@mdo">
					<a href="{{path("hrmsystem/employee_setup/create")}}" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="create">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Employee Setup', page_title: 'Employee Setup' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="employeeSetup2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Import employee CSV file</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12 mb-6">
								<label for="file" class="form-label">Download sample employee CSV file</label>
								<a href="https://liviso.net/storage/uploads/sample/sample-employee.csv" class="btn btn-sm btn-primary">
									<i class="ti ti-download"></i>
									Download
								</a>
							</div>
							<div class="col-md-12">
								<label for="file" class="form-label">Select CSV File</label>
								<div class="choose-file form-group">
									<label for="file" class="form-label">
										<input type="file" class="form-control" name="file" id="file" data-filename="upload_file" required="">
									</label>
									<p class="upload_file"></p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade rounded-3" id="employeeSetup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create EmployeeSetup</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div
				    class="modal-body">
					{# first row #}
					<div class="row">
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="GRN" class="form-label m-0">Employee ID</label>
								<select class="form-control select3 m-0" id="employeeId" name="employeeId">
									<option value="0">Auto</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="invoiceNumber" class="form-label m-0">Name</label>
								<select class="form-control select3 m-0" id="name" name="name">
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="productCode" class="form-label m-0">Email</label>
								<select class="form-control select3 m-0" id="email" name="email">

								</select>
							</div>
						</div>

						</div>
						{# second row #}
						<div class="row">
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="productName" class="form-label m-0">Branch</label>
								<select class="form-control select3 m-0" id="branch" name="branch">
									
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="productQty" class="form-label m-0">Department</label>
								<select class="form-control select3 m-0" id="department" name="department">
									<option value="0">Auto</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="reasonForReturn" class="form-label m-0">Designation</label>
								<select class="form-control select3 m-0" id="designation" name="designation">
						
								</select>
							</div>
						</div>
						{# third row #}
						<div class="row">
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="productName" class="form-label m-0">Date of Joining</label>
								<select class="form-control select3 m-0" id="dateOfJoining" name="dateOfJoining">
									
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-1">
							<div class="form-group">
								<label for="productQty" class="form-label m-0">Last Login</label>
								<select class="form-control select3 m-0" id="lastLogin" name="lastLogin">
									<option value="0">Auto</option>
								</select>
							</div>
						</div>
                        </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary rounded-2">Create</button>
					</div>
			    </div>
		    </div>
	    </div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Employee ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>Branch</th>
								<th>Department</th>
								<th>Designation</th>
								<th>Date of Joining</th>
								<th>Last Login</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																																																		<td>Cara Stevens</td>
																																																		<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																																																		<td>New York</td>
																																																		<td>46</td>
																																																		<td>2011/12/06</td>
																																																		<td>2011/12/06</td>
																																																	</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
	<!-- Table Export js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
	<script src="/js/pages/demo.tableexport.js"></script>
{% endblock %}
