{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Goal Tracking
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#goalTracking" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Goal Tracking', page_title: 'Goal Tracking' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="goalTracking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create New Goal Tracking</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="branch" class="form-label">Branch</label>
									<select class="form-control select" required="required" id="branch" name="branch">
										<option value="" selected="selected">Select Branch</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="goal_type" class="form-label">GoalTypes</label>
									<select class="form-control select" required="required" id="goal_type" name="goal_type">
										<option value="" selected="selected">Select Goal Type</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="start_date" class="form-label">Start Date</label>
									<input class="form-control " name="start_date" type="date" id="start_date">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="end_date" class="form-label">End Date</label>
									<input class="form-control " name="end_date" type="date" id="end_date">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="subject" class="form-label">Subject</label>
									<input class="form-control" name="subject" type="text" id="subject">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="target_achievement" class="form-label">Target Achievement</label>
									<input class="form-control" name="target_achievement" type="text" id="target_achievement">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="description" class="form-label">Description</label>
									<textarea class="form-control description" name="description" cols="50" rows="10" id="description"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="status" class="form-label">Status</label>
									<select class="form-control select" id="status" name="status">
										<option value="0">Not Started</option>
										<option value="1">In Progress</option>
										<option value="2">Completed</option>
									</select>
								</div>
							</div>

							<div class="col-md-12">
								<fieldset id="demo1" class="rating">
									<input class="stars" type="radio" id="rating-5" name="rating" value="5">
									<label class="full" for="rating-5" title="Awesome - 5 stars"></label>
									<input class="stars" type="radio" id="rating-4" name="rating" value="4">
									<label class="full" for="rating-4" title="Pretty good - 4 stars"></label>
									<input class="stars" type="radio" id="rating-3" name="rating" value="3">
									<label class="full" for="rating-3" title="Meh - 3 stars"></label>
									<input class="stars" type="radio" id="rating-2" name="rating" value="2">
									<label class="full" for="rating-2" title="Kinda bad - 2 stars"></label>
									<input class="stars" type="radio" id="technical-1" name="rating" value="1">
									<label class="full" for="technical-1" title="Sucks big time - 1 star"></label>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Goal Type</th>
								<th>Subject</th>
								<th>Branch</th>
								<th>Target Achievement</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Rating</th>
								<th>Progress</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																													<td>Cara Stevens</td>
																													<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																													<td>New York</td>
																													<td>46</td>
																													<td>2011/12/06</td>
																													<td>2011/12/06</td>
																												</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
