{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Job Application
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Export">
					<i class="bi bi-plus"></i>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Job Application', page_title: 'Job Application' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="mt-2 " id="multiCollapseExample1">
				<div class="card">
					<div class="card-body">
						<form method="GET" action="#" accept-charset="UTF-8" id="applicarion_filter">

							<div class="row d-flex align-items-center justify-content-end">

								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mr-2">
									<div class="btn-box">
										<label for="start_date" class="form-label">Start Date</label>
										<input class="month-btn form-control " name="start_date" type="date" value="2023-10-15" id="start_date">
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mr-2">
									<div class="btn-box">
										<label for="end_date" class="form-label">End Date</label>
										<input class="month-btn form-control " name="end_date" type="date" value="2023-11-15 14:50:31" id="end_date">
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
									<div class="btn-box">
										<label for="job" class="form-label">Job</label>
										<select class="form-control select" id="job" name="job">
											<option value="" selected="selected">All</option>
										</select>
									</div>
								</div>
								<div class="col-auto float-end ms-2 mt-4">

									<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('applicarion_filter').submit(); return false;" data-bs-toggle="tooltip" data-original-title="apply" data-bs-original-title="" title="">
										<span class="btn-inner--icon">
											<i class="bi bi-search"></i>
										</span>
									</a>
									<a href="#" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Reset">
										<span class="btn-inner--icon">
											<i class="bi bi-trash"></i>
										</span>
									</a>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card overflow-hidden mt-0">
		<div class="container-kanban">
			<div class="row kanban-wrapper horizontal-scroll-cards" data-plugin="dragula" data-containers="[&quot;task-list-231&quot;,&quot;task-list-232&quot;,&quot;task-list-233&quot;,&quot;task-list-234&quot;,&quot;task-list-235&quot;]">

				<div class="col">
					<div class="card">

						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Applied</h4>
						</div>

						<div class="card-body kanban-box" id="task-list-231" data-id="231"></div>
						<span class="empty-container" data-placeholder="Empty"></span>
					</div>
				</div>

				<div class="col">
					<div class="card">

						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Phone Screen</h4>
						</div>

						<div class="card-body kanban-box" id="task-list-232" data-id="232"></div>
						<span class="empty-container" data-placeholder="Empty"></span>
					</div>
				</div>

				<div class="col">
					<div class="card">

						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Interview</h4>
						</div>

						<div class="card-body kanban-box" id="task-list-233" data-id="233"></div>
						<span class="empty-container" data-placeholder="Empty"></span>
					</div>
				</div>

				<div class="col">
					<div class="card">

						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Hired</h4>
						</div>

						<div class="card-body kanban-box" id="task-list-234" data-id="234"></div>
						<span class="empty-container" data-placeholder="Empty"></span>
					</div>
				</div>

				<div class="col">
					<div class="card">

						<div class="card-header">
							<div class="float-end">
								<span class="btn btn-sm btn-primary btn-icon count">
									0
								</span>
							</div>
							<h4 class="mb-0">Rejected</h4>
						</div>

						<div class="card-body kanban-box" id="task-list-235" data-id="235"></div>
						<span class="empty-container" data-placeholder="Empty"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}{% endblock %}
