{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Job On-Boarding
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#jobOnBoarding" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Job On-Boarding', page_title: 'Job On-Boarding' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="jobOnBoarding" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create New Job OnBoard</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-12">
								<label for="application" class="col-form-label">Interviewer</label>
								<div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
									<div class="choices__inner">
										<select class="form-control select2 choices__input" required="required" id="application" name="application" hidden="" tabindex="-1" data-choice="active">
											<option value="" data-custom-properties="[object Object]">-</option>
										</select>
										<div class="choices__list choices__list--single">
											<div class="choices__item choices__placeholder choices__item--selectable" data-item="" data-id="1" data-value="" data-custom-properties="[object Object]" aria-selected="true" data-deletable="">-<button type="button" class="choices__button" aria-label="Remove item: ''" data-button="">Remove item</button>
											</div>
										</div>
									</div>
									<div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="-" placeholder=""><div class="choices__list" role="listbox">
											<div id="choices--application-item-choice-1" class="choices__item choices__item--choice is-selected choices__placeholder choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">-</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label for="joining_date" class="col-form-label">Joining Date</label>
								<input class="form-control " autocomplete="off" name="joining_date" type="date" id="joining_date">
							</div>

							<div class="form-group col-md-6">
								<label for="days_of_week" class="col-form-label">Days Of Week</label>
								<input class="form-control " autocomplete="off" min="0" name="days_of_week" type="number" id="days_of_week">
							</div>
							<div class="form-group col-md-6">
								<label for="salary" class="col-form-label">Salary</label>
								<input class="form-control " autocomplete="off" min="0" name="salary" type="number" id="salary">
							</div>
							<div class="form-group col-md-6">
								<label for="salary_type" class="col-form-label">Salary Type</label>
								<select class="form-control select" id="salary_type" name="salary_type"></select>
							</div>
							<div class="form-group col-md-6">
								<label for="salary_duration" class="col-form-label">Salary Duration</label>
								<select class="form-control select" id="salary_duration" name="salary_duration">
									<option value="" selected="selected">Select Salary Duration</option>
									<option value="monthly">Monthly</option>
									<option value="weekly">Weekly</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="job_type" class="col-form-label">Job Type</label>
								<select class="form-control select" id="job_type" name="job_type">
									<option value="" selected="selected">Select Job Type</option>
									<option value="full time">Full Time</option>
									<option value="part time">Part Time</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="status" class="col-form-label">Status</label>
								<select class="form-control select" id="status" name="status">
									<option value="" selected="selected">Select Status</option>
									<option value="pending">Pending</option>
									<option value="cancel">Cancel</option>
									<option value="confirm">Confirm</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Name</th>
								<th>Job</th>
								<th>Branch</th>
								<th>Applied At</th>
								<th>Joining At</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																						<td>Cara Stevens</td>
																						<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																						<td>New York</td>
																						<td>46</td>
																						<td>2011/12/06</td>
																						<td>2011/12/06</td>
																					</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
