{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Job
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Create">
					<span class="btn-inner--icon">
						<i class="bi bi-plus"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Job', page_title: 'Job' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mb-3 mb-sm-0">
							<div class="d-flex align-items-center">
								<div class="theme-avtar bg-primary text-white p-2 rounded-3">
									<i class="ri ri-cast-line" style="font-size:18px"></i>
								</div>
								<div class="ms-3">
									<h6 class="text-muted">Total</h6>
									<h5 class="m-0 text-dark">Jobs</h5>
								</div>
							</div>
						</div>
						<div class="col-auto text-end">
							<h4 class="m-0 text-dark">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mb-3 mb-sm-0">
							<div class="d-flex align-items-center">
								<div class="theme-avtar bg-info text-white p-2 rounded-3">
									<i class="ri ri-cast-line" style="font-size:18px"></i>
								</div>
								<div class="ms-3">
									<h6 class="text-muted">Active</h6>
									<h5 class="m-0 text-dark">Jobs</h5>
								</div>
							</div>
						</div>
						<div class="col-auto text-end">
							<h4 class="m-0 text-dark">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mb-3 mb-sm-0">
							<div class="d-flex align-items-center">
								<div class="theme-avtar bg-warning text-white p-2 rounded-3">
									<i class="ri ri-cast-line" style="font-size:18px"></i>
								</div>
								<div class="ms-3">
									<h6 class="text-muted">Inactive</h6>
									<h5 class="m-0 text-dark">Jobs</h5>
								</div>
							</div>
						</div>
						<div class="col-auto text-end">
							<h4 class="m-0 text-dark">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Branch</th>
								<th>Title</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Status</th>
								<th>Created At</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																						<td>Cara Stevens</td>
																						<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																						<td>New York</td>
																						<td>46</td>
																						<td>2011/12/06</td>
																						<td>2011/12/06</td>
																					</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
