{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Mark Attendance
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Mark Attendance', page_title: 'Mark Attendance' }) }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class=" mt-2 " id="multiCollapseExample1">
				<div class="card">
					<div class="card-body">
						<form method="GET" action="http://localhost/other/attendanceemployee" accept-charset="UTF-8" id="attendanceemployee_filter">
							<div class="row align-items-center justify-content-end">
								<div class="col-xl-10">
									<div class="row">
										<div class="col-3">
											<label class="form-label">Type</label>
											<br>

											<div class="form-check form-check-inline form-group">
												<input type="radio" id="monthly" value="monthly" name="type" class="form-check-input" checked="">
												<label class="form-check-label" for="monthly">Monthly</label>
											</div>
											<div class="form-check form-check-inline form-group">
												<input type="radio" id="daily" value="daily" name="type" class="form-check-input">
												<label class="form-check-label" for="daily">Daily</label>
											</div>

										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 month d-block">
											<div class="btn-box">
												<label for="month" class="form-label">Month</label>
												<input class="month-btn form-control month-btn" name="month" type="month" value="2023-11" id="month">
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 date d-none">
											<div class="btn-box">
												<label for="date" class="form-label">Date</label>
												<input class="form-control month-btn" name="date" type="date" value="" id="date">
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="branch" class="form-label">Branch</label>
												<select class="form-control select" id="branch" name="branch">
													<option value="" selected="selected">Select Branch</option>
												</select>
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="department" class="form-label">Department</label>
												<select class="form-control select" id="department" name="department">
													<option value="" selected="selected">Select Department</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-auto mt-4">
									<div class="row">
										<div class="col-auto">
											<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('attendanceemployee_filter').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
												<span class="btn-inner--icon">
													<i class="bi bi-search"></i>
												</span>
											</a>
											<a href="http://localhost/other/attendanceemployee" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
												<span class="btn-inner--icon">
													<i class="bi bi-trash "></i>
												</span>
											</a>
											<a href="#" data-size="md" data-bs-toggle="tooltip" title="" data-url="http://localhost/other/import/attendance/file" data-ajax-popup="true" data-title="Import employee CSV file" class="btn btn-sm btn-primary" data-bs-original-title="Import">
												<i class="bi bi-download"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Employee</th>
								<th>Date</th>
								<th>Status</th>
								<th>Clock In</th>
								<th>Clock Out</th>
								<th>Late</th>
								<th>Early Leaving</th>
								<th>Overtime</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																						<td>Cara Stevens</td>
																						<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																						<td>New York</td>
																						<td>46</td>
																						<td>2011/12/06</td>
																						<td>2011/12/06</td>
																					</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
