{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Paysip
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Paysip', page_title: 'Paysip' }) }}
{% endblock %}

{% block body %}
	<div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 mt-4">
		<div class="card">
			<div class="card-body">
				<form method="POST" action="#" accept-charset="UTF-8" id="payslip_form"><input name="_token" type="hidden" value="J5IhAIgIAnSTQhejusX2KxMOqfLyarh5NTsG2vu9">
					<div class="d-flex align-items-center justify-content-end">
						<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-12 mx-2">
							<div class="btn-box">
								<label for="month" class="form-label">Select Month</label>
								<select class="form-control select" id="month" name="month">
									<option value="01">JAN</option>
									<option value="02">FEB</option>
									<option value="03">MAR</option>
									<option value="04">APR</option>
									<option value="05">MAY</option>
									<option value="06">JUN</option>
									<option value="07">JUL</option>
									<option value="08">AUG</option>
									<option value="09">SEP</option>
									<option value="10">OCT</option>
									<option value="11" selected="selected">NOV</option>
									<option value="12">DEC</option>
								</select>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-12 mx-2">
							<div class="btn-box">
								<label for="year" class="form-label">Select Year</label>
								<select class="form-control select" id="year" name="year">
									<option value="2023">2023</option>
									<option value="2024">2024</option>
									<option value="2025">2025</option>
									<option value="2026">2026</option>
									<option value="2027">2027</option>
									<option value="2028">2028</option>
									<option value="2029">2029</option>
									<option value="2030">2030</option>
								</select>
							</div>
						</div>
						<div class="col-auto float-end ms-2 mt-4">
							<a href="#" class="btn  btn-primary" onclick="document.getElementById('payslip_form').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="payslip" data-bs-original-title="payslip">Generate Payslip
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Employee Id</th>
								<th>Name</th>
								<th>Payroll Type</th>
								<th>Salary</th>
								<th>Net Salary</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
															<td>Cara Stevens</td>
															<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
															<td>New York</td>
															<td>46</td>
															<td>2011/12/06</td>
															<td>2011/12/06</td>
														</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
