{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Manage Client
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
					<i class="bi bi-plus"></i>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Manage Client', page_title: 'Manage Client' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xxl-12">
			<div class="row">
				<div class="col-md-3">
					<div class="card text-center">
						<div class="card-header border-0 pb-0">

							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="ti ti-dots-vertical"></i>
									</button>

									<div class="dropdown-menu dropdown-menu-end">


										<a href="#!" data-size="md" data-url="http://localhost/other/clients/135/edit" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="Edit User">
											<i class="ti ti-pencil"></i>
											<span>Edit</span>
										</a>

										<form method="POST" action="http://localhost/other/clients/135" accept-charset="UTF-8" id="delete-form-135"><input name="_method" type="hidden" value="DELETE"><input name="_token" type="hidden" value="q4UTQ0S1spGLbp1qFl5N9vDcE8eW1YX3XkMwbbbv">
											<a href="#!" class="dropdown-item bs-pass-para">
												<i class="ti ti-archive"></i>
												<span>
													Delete
												</span>
											</a>

										</form>

										<a href="#!" data-url="http://localhost/other/client-reset-password/eyJpdiI6IkZlN1BKekw2aHpJdVVMTDVTTHVWc2c9PSIsInZhbHVlIjoiS3h4dGNQOWY3TzljMFYrUUc0Mlc4UT09IiwibWFjIjoiM2E3ZDhlZjM1YmU4YTc1YmE1NTc5ZWY0YWZhMDA5YjE4NjIxM2I1OTFmNjI4YmFiNWExNjc4NzdmYWIwYWRhMiIsInRhZyI6IiJ9" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="Reset Password">
											<i class="ti ti-adjustments"></i>
											<span>
												Reset Password</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body full-card">
							<div class="img-fluid rounded-circle card-avatar">
								<img src="https://liviso.net/storage/uploads/avatar/avatar.png" class="img-user wid-80 rounded-circle">
							</div>
							<h4 class="mt-2 text-primary">Uk Giveaways</h4>
							<p></p>
							<div class="row">
								<div class="col-12 col-sm-12">
									<div class="d-grid text-primary">
										abc@gmail.com
									</div>
								</div>
							</div>
							<div class="align-items-center h6 mt-2" data-bs-toggle="tooltip" title="" data-bs-original-title="Last Login"></div>
						</div>
						<div class="card-footer p-3">
							<div class="row">
								<div class="col-6">
									<h6 class="mb-0">
										0
									</h6>
									<p class="text-muted text-sm mb-0">Deals</p>
								</div>
								<div class="col-6">
									<h6 class="mb-0">
										1
									</h6>
									<p class="text-muted text-sm mb-0">Projects</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
