{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Manage Client
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#client" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Manage Client', page_title: 'Manage Client' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="client" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="form-group">
								<label for="name" class="form-label">Name</label>
								<input class="form-control" placeholder="Enter client Name" required="required" name="name" type="text" id="name">
							</div>
							<div class="form-group">
								<label for="email" class="form-label">E-Mail Address</label>
								<input class="form-control" placeholder="Enter Client Email" required="required" name="email" type="email" id="email">
							</div>
							<div class="form-group">
								<label for="password" class="form-label">Password</label>
								<input class="form-control" placeholder="Enter User Password" required="required" minlength="6" name="password" type="password" value="" id="password">
							</div>


						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xxl-12">
			<div class="row">
				<div class="col-md-3">
					<div class="card text-center">
						<div class="card-header border-0 pb-0">

							<div class="card-header-right float-end">
								<div class="btn-group card-option">
									<button
										type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{# <i class="bi bi-plus-circle-dotted"></i> #}
									</button>
									<div class="dropdown-menu dropdown-menu-end">
										<a href="#!" data-size="lg" data-url="#" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="Edit User">
											<i class="bi bi-pencil"></i>
											<span>Edit</span>
										</a>
										<form method="POST" action="#" accept-charset="UTF-8" id="delete-form-132"><input name="_method" type="hidden" value="DELETE"><input name="_token" type="hidden" value="q4UTQ0S1spGLbp1qFl5N9vDcE8eW1YX3XkMwbbbv">
											<a href="#!" class="dropdown-item bs-pass-para">
												<i class="bi bi-archive"></i>
												<span>
													Delete
												</span>
											</a>
										</form>
										<a href="#!" data-url="#" data-ajax-popup="true" data-size="md" class="dropdown-item" data-bs-original-title="Reset Password">
											<i class="bi bi-adjustments"></i>
											<span>
												Reset Password</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body full-card">
							<div class="img-fluid rounded-circle card-avatar">
								<img src="" class="img-user wid-80 rounded-circle">
							</div>
							<h4 class="mt-2 text-primary">Uk Giveaways</h4>
							<p></p>
							<div class="row">
								<div class="col-12 col-sm-12">
									<div class="d-grid text-primary">
										abc@gmail.com
									</div>
								</div>
							</div>
							<div class="align-items-center h6 mt-2" data-bs-toggle="tooltip" title="" data-bs-original-title="Last Login"></div>
						</div>
						<div class="card-footer p-3">
							<div class="row">
								<div class="col-6">
									<h6 class="mb-0">
										0
									</h6>
									<p class="text-muted text-sm mb-0">Deals</p>
								</div>
								<div class="col-6">
									<h6 class="mb-0">
										1
									</h6>
									<p class="text-muted text-sm mb-0">Projects</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
