{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Manage User
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
					<i class="ri ri-user-follow-line"></i>
				</a>
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
					<i class="bi bi-plus"></i>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Manage User', page_title: 'Manage User' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-3 mb-4">
			<div class="card text-center card-2">
				<div class="card-header border-0 pb-0">
					<div class="d-flex justify-content-between align-items-center">
						<h6 class="mb-0">
							<div class="badge bg-primary p-2 px-3 rounded">
								Admin
							</div>
						</h6>
					</div>
					<div class="card-header-right">
						<div class="btn-group card-option">
							<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="ti ti-dots-vertical"></i>
							</button>

							<div class="dropdown-menu dropdown-menu-end">

								<a href="#!" data-size="lg" data-url="http://localhost/other/users/132/edit" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="Edit User">
									<i class="ti ti-pencil"></i>
									<span>Edit</span>
								</a>

								<form method="POST" action="http://localhost/other/users/132" accept-charset="UTF-8" id="delete-form-132"><input name="_method" type="hidden" value="DELETE"><input name="_token" type="hidden" value="q4UTQ0S1spGLbp1qFl5N9vDcE8eW1YX3XkMwbbbv">
									<a href="#!" class="dropdown-item bs-pass-para">
										<i class="ti ti-archive"></i>
										<span>
											Delete
										</span>
									</a>
								</form>

								<a href="#!" data-url="http://localhost/other/user-reset-password/eyJpdiI6IkJZL1krTTFWaW1JN29oMXJZc2VyYlE9PSIsInZhbHVlIjoiTk5IaXl4MUUrUVFONWdoUTFBTDZBdz09IiwibWFjIjoiYWE0Mjc5Yjg3YmZlOWFiZDhiMDU2ZTM0NzUyODhlMTRhMTVhNDliMjYxMGE5NmUyMmYxM2U5ZjM3NDMwMjlkOSIsInRhZyI6IiJ9" data-ajax-popup="true" data-size="md" class="dropdown-item" data-bs-original-title="Reset Password">
									<i class="ti ti-adjustments"></i>
									<span>
										Reset Password</span>
								</a>
							</div>

						</div>
					</div>
				</div>

				<div class="card-body full-card">
					<div class="img-fluid rounded-circle card-avatar">
						<img src="https://liviso.net/storage/uploads/avatar/avatar.png" class="img-user wid-80 round-img rounded-circle">
					</div>
					<h4 class=" mt-3 text-primary">Saleem Shahzad</h4>
					<small class="text-primary">shehziok@gmail.com</small>
					<p></p>
					<div class="text-center" data-bs-toggle="tooltip" title="" data-bs-original-title="Last Login">
						2023-09-23 08:15:07
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-4">
			<div class="card text-center card-2">
				<div class="card-header border-0 pb-0">
					<div class="d-flex justify-content-between align-items-center">
						<h6 class="mb-0">
							<div class="badge bg-primary p-2 px-3 rounded">
								Admin
							</div>
						</h6>
					</div>
					<div class="card-header-right">
						<div class="btn-group card-option">
							<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="ti ti-dots-vertical"></i>
							</button>

							<div class="dropdown-menu dropdown-menu-end">

								<a href="#!" data-size="lg" data-url="http://localhost/other/users/134/edit" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="Edit User">
									<i class="ti ti-pencil"></i>
									<span>Edit</span>
								</a>

								<form method="POST" action="http://localhost/other/users/134" accept-charset="UTF-8" id="delete-form-134"><input name="_method" type="hidden" value="DELETE"><input name="_token" type="hidden" value="q4UTQ0S1spGLbp1qFl5N9vDcE8eW1YX3XkMwbbbv">
									<a href="#!" class="dropdown-item bs-pass-para">
										<i class="ti ti-archive"></i>
										<span>
											Delete
										</span>
									</a>
								</form>

								<a href="#!" data-url="http://localhost/other/user-reset-password/eyJpdiI6Ikp5b3RmU1NYSVduTC9CQlJqNE1tdEE9PSIsInZhbHVlIjoiZU1mZFhwd3ZZMVZZeSttYjVWeWtrdz09IiwibWFjIjoiMTFmZmY0ZjU5ZWJlZTQ2ZmVmZTNjOTgzYWM3MWIwM2U0N2ZlOTAxN2NmNTBiYjk5ZWQwYjhmNzBiOTEyMzllOCIsInRhZyI6IiJ9" data-ajax-popup="true" data-size="md" class="dropdown-item" data-bs-original-title="Reset Password">
									<i class="ti ti-adjustments"></i>
									<span>
										Reset Password</span>
								</a>
							</div>

						</div>
					</div>
				</div>

				<div class="card-body full-card">
					<div class="img-fluid rounded-circle card-avatar">
						<img src="https://liviso.net/storage/uploads/avatar/avatar.png" class="img-user wid-80 round-img rounded-circle">
					</div>
					<h4 class=" mt-3 text-primary">William Ndubuisi</h4>
					<small class="text-primary">williamndubuisidev@gmail.com</small>
					<p></p>
					<div class="text-center" data-bs-toggle="tooltip" title="" data-bs-original-title="Last Login"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
