{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Add POS
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Add POS', page_title: 'Add POS' }) }}
{% endblock %}

{% block body %}
	<div class="container-fluid px-2">
		<div class="row">
			<div class="col-12">
				<div class="mt-2 pos-top-bar bg-color d-flex justify-content-between bg-primary">
					<span class="text-white">POS</span>
					<a href="http://localhost/other/account-dashboard" class="text-white">
						<i class="ti ti-home" style="font-size: 20px;"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-2 row">
			<div class="col-lg-7">
				<div class="sop-card card">
					<div class="card-header p-2">
						<div class="search-bar-left">
							<form>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="ti ti-search"></i>
										</span>
									</div>
									<input id="searchproduct" type="text" data-url="http://localhost/other/search-products" placeholder="Search Product" class="form-control pr-4 rounded-right">
								</div>
							</form>
						</div>
					</div>
					<div class="card-body p-2">
						<div class="right-content">
							<div class="button-list b-bottom catgory-pad">
								<div class="form-row m-0" id="categories-listing">
									<div class="mb-3 mr-2 zoom-in ">
										<div class="card rounded-10 card-stats mb-0 overflow-hidden cat-active" data-id="0">
											<div class="category-select" data-cat-id="0">
												<button type="button" class="btn tab-btns btn-primary">All Categories</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-body-nop">
								<div class="form-row" id="product-listing">
									<div class="card card-body col-12 text-center">
										<h5>No Product Available</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-0">
				<div class="card m-0">
					<div class="card-header p-2">
						<div class="row">
							<div class="col-md-6">
								<select class="form-control select customer_select" id="customer" required="required" name="customer_id">
									<option value="" selected="selected">Walk-in-customer</option>
									<option value="Habeebi">Habeebi</option>
									<option value="Saleem Shahzad">Saleem Shahzad</option>
									<option value="Billy ban">Billy ban</option>
								</select>
								<input id="vc_name_hidden" name="vc_name_hidden" type="hidden" value="">

							</div>
							<div class="col-md-6">
								<select class="form-control select warehouse_select " id="warehouse" required="required" name="warehouse_id">
									<option value="47">North Warehouse</option>
								</select>
								<input id="warehouse_name_hidden" name="warehouse_name_hidden" type="hidden" value="47">
							</div>
						</div>
					</div>
					<div class="card-body carttable cart-product-list carttable-scroll" id="carthtml">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th class="text-left">Name</th>
										<th class="text-center">QTY</th>
										<th>Tax</th>
										<th class="text-center">Price</th>
										<th class="text-center">Sub Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="tbody">
									<tr class="text-center no-found">
										<td colspan="7">No Data Found.!</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="total-section mt-3">
							<div class="sub-total">
								<div class="d-flex text-end justify-content-end">
									<h6 class="mb-0 text-dark">Sub Total :</h6>
									<h6 class="mb-0 text-dark subtotal_price" id="displaytotal">$0.00</h6>
								</div>
								<div class="row align-items-center">
									<div class="col-6">
										<div class="d-flex text-end justify-content-end align-items-center">
											<span class="input-group-text bg-transparent">$</span>
											<input class=" form-control discount" required="required" placeholder="Discount" name="discount" type="number">
											<input id="discount_hidden" name="discount_hidden" type="hidden" value="">
										</div>
									</div>
									<div class="col-6">
										<div class="d-flex align-items-center justify-content-end">
											<h6 class="">Total :</h6>
											<h6 class="totalamount">$0.00</h6>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-between pt-3" id="btn-pur">
									<button type="button" class="btn btn-primary rounded" data-ajax-popup="true" data-size="xl" data-align="centered" data-url="http://localhost/other/pos/create" data-title="POS Invoice" disabled="disabled">
										PAY
									</button>
									<div class="tab-content btn-empty text-end">
										<a href="#" class="btn btn-danger bs-pass-para-pos rounded m-0" data-toggle="tooltip" data-original-title="Empty Cart" data-confirm="Are You Sure?" data-text="This action can not be undone. Do you want to continue?" data-confirm-yes="delete-form-emptycart">Empty Cart
										</a>
										<form method="POST" action="http://localhost/other/empty-cart" accept-charset="UTF-8" id="delete-form-emptycart"><input name="_token" type="hidden" value="q4UTQ0S1spGLbp1qFl5N9vDcE8eW1YX3XkMwbbbv">
											<input type="hidden" name="session_key" value="pos" id="empty_cart">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row-->
{% endblock %}
{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
