{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Purchase
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#purchase" data-bs-whatever="@mdo">
					<a href="#" data-size="lg" data-url="#" data-ajax-popup="true" data-bs-toggle="tooltip" title="" data-title="Create New Webhook" class="btn btn-sm btn-primary" data-bs-original-title="Create">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'purchase', page_title: 'Purchase' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="purchase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create New Meeting</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-12 mb-1">
								<label for="title" class="form-label">Title</label>
								<input class="form-control m-0" placeholder="Enter Meeting Title" required="required" name="title" type="text" id="title">
							</div>
							<div class="form-group col-md-6 mb-1">
								<label for="projects" class="form-label m-0">Project</label>
								<select class="form-control select project_select m-0" id="project_select" data-toggle="select" name="project_id">
									<option value="" selected="selected">Select Project</option>
									<option value="9">Automatic</option>
								</select>
							</div>
							<div class="form-group col-md-6 mb-1">
								<label for="projects" class="form-label m-0">Users</label>
								<div id="user_div">
									<select class="form-control select employee_select m-0" id="user_id" name="user_id[]">
										<option value="">Select User</option>
									</select>
								</div>
							</div>

							<div class="form-group col-md-6 mb-1">
								<label for="datetime" class="form-label m-0">Start Date / Time</label>
								<input class="form-control date m-0" placeholder="Select Date/Time" required="required" name="start_date" type="datetime-local">
							</div>
							<div class="form-group col-md-6 mb-1">
								<label for="duration" class="form-label m-0">Duration</label>
								<input class="form-control m-0" placeholder="Enter Duration" required="required" name="duration" type="number" id="duration">
							</div>

							<div class="form-group col-md-6">
								<label for="password" class="form-label m-0">Password ( Optional )</label>
								<input class="form-control m-0" placeholder="Enter Password" name="password" type="password" value="" id="password">
							</div>

							<div class="form-group col-md-6 mt-3">
								<div class="form-switch form-switch-right d-flex gx-7">
									<input class="form-check-input" type="checkbox" name="client_id" id="client_id" checked="">
									<label class="form-check-label" for="client_id">Invite Client For Zoom Meeting</label>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Purchase</th>
								<th>Vendor</th>
								<th>Category</th>
								<th>Purchase Date</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																													<td>Cara Stevens</td>
																													<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																													<td>New York</td>
																													<td>46</td>
																													<td>2011/12/06</td>
																													<td>2011/12/06</td>
																												</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
