{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Warehouse
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#warehouse" data-bs-whatever="@mdo">
					<a href="#" data-size="lg" data-url="#" data-ajax-popup="true" data-bs-toggle="tooltip" title="" data-title="Create New Webhook" class="btn btn-sm btn-primary" data-bs-original-title="Create">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'warehouse', page_title: 'Warehouse' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="warehouse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create Warehouse</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-12">
								<label for="name" class="form-label">Name</label>
								<input class="form-control" required="required" name="name" type="text" value="" id="name">
							</div>
							<div class="form-group col-md-12">
								<label for="address" class="form-label">Address</label>
								<textarea class="form-control" rows="3" name="address" cols="50" id="address"></textarea>
							</div>
							<div class="form-group col-md-6">
								<label for="city" class="form-label">City</label>
								<input class="form-control" name="city" type="text" id="city">
							</div>
							<div class="form-group col-md-6">
								<label for="city_zip" class="form-label">Zip Code</label>
								<input class="form-control" name="city_zip" type="text" id="city_zip">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary rounded-2">Create</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>City</th>
								<th>Zip Code</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td>Cara Stevens</td>
								<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
								<td>New York</td>
								<td>46</td>
								<td>2011/12/06</td>
							</tr>
							{# @if(Gate::check('show warehouse') || Gate::check('edit warehouse') || Gate::check('delete warehouse'))
																												<td class="Action">
																													@can('show warehouse')
																													<div class="action-btn bg-warning ms-2">
																					
																														<a href="#" class="mx-3 btn btn-sm d-inline-flex align-items-center" data-bs-toggle="tooltip" title="#">
																															<i class="ti ti-eye text-white"></i>
																														</a>
																					
																													</div>
																													@endcan
																													                                            @can('edit warehouse')
																													<div class="action-btn bg-info ms-2">
																														<a href="#" class="mx-3 btn btn-sm  align-items-center" data-url="#" data-ajax-popup="true" data-size="lg " data-bs-toggle="tooltip" title="" data-title="">
																															<i class="ti ti-pencil text-white"></i>
																														</a>
																													</div>
																													@endcan
																													                                            @can('delete warehouse')
																													<div class="action-btn bg-danger ms-2">
																														{!! Form::open(['method' => 'DELETE', 'route' => ['warehouse.destroy', $warehouse->id],'id'=>'delete-form-'.$warehouse->id]) !!}
																														<a href="#" class="mx-3 btn btn-sm  align-items-center bs-pass-para" data-bs-toggle="tooltip" title="">
																															<i class="ti ti-trash text-white"></i>
																														</a>
																														{!! Form::close() !!}
																													</div>
																													@endcan
																												</td>
																												@endif #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
