{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Chartjs
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Charts', page_title: 'Chartjs' }) }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Bubble</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="bubble-example" data-colors="#4254ba,#17a497"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">DONUT</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="donut-example" data-colors="#4254ba,#fa5c7c,#17a497,#ebeff2"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->


	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Pie</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="pie-example" data-colors="#4254ba,#fa5c7c,#17a497,#ebeff2, #f56f36"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Polar Area</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="polar-area-example" data-colors="#4254ba,#fa5c7c,#17a497,#ebeff2, #f56f36"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->

	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Radar</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="radar-example" data-colors="#4254ba,#17a497"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Scatter</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="scatter-example" data-colors="#4254ba,#17a497"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>

	<!-- end row-->
	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Stacked Bar/Line</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="bar-line-example" data-colors="#4254ba,#17a497"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->

	</div>
	<!-- end row-->

{% endblock %}

{% block javascript %}
	<!-- Chart.js -->
	<script src="/vendor/chart.js/chart.min.js"></script>

	<!-- Chart.js Other Demo js -->
	<script src="/js/pages/demo.chartjs-other.js"></script>
{% endblock %}