{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}
	Apex Bubble Charts
{% endblock %}


{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Apex', page_title: 'Bubble Charts' }) }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title">Simple Bubble Chart</h4>
					<div dir="ltr">
						<div id="simple-bubble" class="apex-charts" data-colors="#4254ba,#ffbc00,#fa5c7c"></div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title">3D Bubble Chart</h4>
					<div dir="ltr">
						<div id="second-bubble" class="apex-charts" data-colors="#4254ba,#17a497,#fa5c7c,#39afd1"></div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Apex Chart js -->
	<script src="/vendor/apexcharts/apexcharts.min.js"></script>

	<!-- Apex Chart Bubble Demo js -->
	<script src="/js/pages/demo.apex-bubble.js"></script>
{% endblock %}
