<!DOCTYPE html>

<title>Medium</title>
<head>
	{{ include('partials/title-meta.html.twig', {title: 'Card Details'}) }}

	{{ include('partials/head-css.html.twig') }}
</head>
{% block css %}
	<link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
{% endblock %}

{% block body %}
	<div class="plan">
		<h1 class="text-center title text-black">Your Cart</h1>
		<div class="container">
			<div class="row">
				<div class="order-summary-1">
					<div class="card-header mb-0">
						<div class="mb-0">
							<h2 class="text-black product-title">Product</h2>
						</div>
					</div>
					<div class="card-body mt-0">
						<div class="input-group">
							<select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" oninput="updateDiscount()">
								<option selected value="0">Monthly</option>
								<option value="1" data-discount='6'>6 Months</option>
								<option value="2" data-discount='15'>1 Years</option>
								<option value="3" data-discount='25'>2 years</option>
								<option value="4" data-discount='30'>3 Years</option>
								<option value="5" data-discount='40'>4 Years</option>
								<option value="6" data-discount='50'>5 Years</option>
							</select>
							<div class="btn" id="discounted-price">$99
							</div>
						</div>
						<h5 id="discount-text" class='float-end text-success mt-1 p-0'>6% off</h5>
						<br>
						<div class="">
							<h4>medium plan</h4>
							<div class="text-left d-flex align-items-center">
								<h2 class="display-6 text-dark fw-normal">
									<span class="pricing-currency">$</span>
									<span class="pricing-amount">99</span>
								</h2>
								<span class="pricing-period">/Month</span>
							</div>
						</div>
						<button class="change-plan">Change Plan</button>
						<div class="d-flex justify-content-between align-items-center mt-4">
							<h4 class="text-black">Addon User</h4>
							<h4 class="text-success" id="addon" data-addon="10">$10 each
								<span class="text-black">(Repeated)</span>
							</h4>
						</div>
						<div class="d-flex justify-content-between align-items-center">
							<h4 class="text-black">Onetime Setup Fee</h4>
							<h4 class="text-success" id="onetime" data-addon="350">$350</h4>
						</div>
						<medium class="text-black">Discount: none</medium>
						<div class="d-flex justify-content-between align-items-center">
							<h4 class="text-black">Admin Fee</h4>
							<h4 class="text-success" id="admin" data-admin="15">$15</h4>
						</div>
					</div>
				</div>
				<div class="">
					<div class="order-summary mb-0">
						<div class="card-header">
							<h2 class="text-dark mb-4">Order Summary</h2>
							<h4 class="mb-0">medium</h4>
						</div>
						<hr class="fw-bold text-dark mt-0">
						<div class="card-body">
							<div class="div d-flex align-items-center justify-content-between">
								<h2 class="text-black">Subtotal(USD)</h2>
								<h2 class="text-success">$<span id="subTotal" data-subtotal="424">0</span</h2>
								</div>
								<div class="div text-center mt-4">
									<a href="#" class="text-center text-black text-decoration-underline fw-bold">Have a voucher code or referral code?</a>
								</div>
								<button class="submit bg-black text-white p-1 col-12 rounded-3 mt-2 fw-bold fs-5" type="submit">I'm Ready To Pay</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer footer-alt">
				<span class="text-black-50">
					<script>
						document.write(new Date().getFullYear())
					</script>
					© Liviso</span>
			</footer>
		</div>
		{{ include('partials/footer-scripts.html.twig') }}
	{% endblock %}
	{% block javascript %}
		<script src="/js/pages/plan.js"></script>
	{% endblock %}
