{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}
   Project Dashboard
{% endblock %}

{% block css %}{% endblock %}

{% block body %}
	<div class="row mt-3">

		<div class="col-lg-4 col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mb-3 mb-sm-0">
							<div class="d-flex align-items-center">

								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" zoomandpan="magnify" viewbox="0 0 48 48" height="50" preserveaspectratio="xMidYMid meet" version="1.0">
									<defs>
										<clipPath id="dadf9e3dfc">
											<path d="M 0.488281 0 L 47.507812 0 L 47.507812 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " clip-rule="nonzero"></path>
										</clipPath>
										<clipPath id="de069ad293">
											<path d="M 31 8 L 46.1875 8 L 46.1875 23 L 31 23 Z M 31 8 " clip-rule="nonzero"></path>
										</clipPath>
										<clipPath id="765d944b69">
											<path d="M 20 34 L 33 34 L 33 46.359375 L 20 46.359375 Z M 20 34 " clip-rule="nonzero"></path>
										</clipPath>
										<clipPath id="8d406696a4">
											<path d="M 1.371094 8 L 17 8 L 17 29 L 1.371094 29 Z M 1.371094 8 " clip-rule="nonzero"></path>
										</clipPath>
										<clipPath id="7d3e8b6d96">
											<path d="M 28 1.542969 L 34 1.542969 L 34 9 L 28 9 Z M 28 1.542969 " clip-rule="nonzero"></path>
										</clipPath>
									</defs>
									<g clip-path="url(#dadf9e3dfc)">
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 264.488281 L 0.488281 264.488281 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<g clip-path="url(#de069ad293)">
										<path fill="#38b6ff" d="M 38.972656 9.554688 C 35.789062 9.554688 33.199219 12.144531 33.199219 15.328125 C 33.199219 18.507812 35.789062 21.101562 38.972656 21.101562 C 42.152344 21.101562 44.746094 18.507812 44.746094 15.328125 C 44.746094 12.144531 42.152344 9.554688 38.972656 9.554688 Z M 38.972656 22.542969 C 34.992188 22.542969 31.753906 19.308594 31.753906 15.328125 C 31.753906 11.347656 34.992188 8.109375 38.972656 8.109375 C 42.953125 8.109375 46.1875 11.347656 46.1875 15.328125 C 46.1875 19.308594 42.953125 22.542969 38.972656 22.542969 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<path fill="#38b6ff" d="M 41.859375 16.046875 L 38.972656 16.046875 C 38.574219 16.046875 38.25 15.722656 38.25 15.328125 L 38.25 11.71875 C 38.25 11.320312 38.574219 10.996094 38.972656 10.996094 C 39.371094 10.996094 39.691406 11.320312 39.691406 11.71875 L 39.691406 14.605469 L 41.859375 14.605469 C 42.257812 14.605469 42.578125 14.929688 42.578125 15.328125 C 42.578125 15.722656 42.257812 16.046875 41.859375 16.046875 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 27.425781 42.75 C 27.242188 42.75 27.054688 42.679688 26.914062 42.539062 L 24.027344 39.652344 C 23.746094 39.371094 23.746094 38.914062 24.027344 38.632812 C 24.308594 38.351562 24.765625 38.351562 25.046875 38.632812 L 27.425781 41.007812 L 31.964844 36.46875 C 32.246094 36.183594 32.703125 36.183594 32.984375 36.46875 C 33.269531 36.75 33.269531 37.207031 32.984375 37.488281 L 27.933594 42.539062 C 27.792969 42.679688 27.609375 42.75 27.425781 42.75 " fill-opacity="1" fill-rule="nonzero"></path>
									<g clip-path="url(#765d944b69)">
										<path fill="#38b6ff" d="M 30.3125 46.359375 L 23.09375 46.359375 C 21.902344 46.359375 20.929688 45.390625 20.929688 44.195312 L 20.929688 36.976562 C 20.929688 35.78125 21.902344 34.8125 23.09375 34.8125 L 29.589844 34.8125 C 29.988281 34.8125 30.3125 35.136719 30.3125 35.535156 C 30.3125 35.929688 29.988281 36.253906 29.589844 36.253906 L 23.09375 36.253906 C 22.695312 36.253906 22.371094 36.578125 22.371094 36.976562 L 22.371094 44.195312 C 22.371094 44.589844 22.695312 44.914062 23.09375 44.914062 L 30.3125 44.914062 C 30.707031 44.914062 31.03125 44.589844 31.03125 44.195312 L 31.03125 42.027344 C 31.03125 41.632812 31.355469 41.308594 31.753906 41.308594 C 32.15625 41.308594 32.476562 41.632812 32.476562 42.027344 L 32.476562 44.195312 C 32.476562 45.390625 31.507812 46.359375 30.3125 46.359375 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<g clip-path="url(#8d406696a4)">
										<path fill="#38b6ff" d="M 3.90625 13.753906 L 6.496094 13.753906 L 6.496094 11.164062 Z M 15.878906 28.910156 L 2.164062 28.910156 C 1.769531 28.910156 1.445312 28.585938 1.445312 28.1875 L 1.445312 17.363281 C 1.445312 16.964844 1.769531 16.640625 2.164062 16.640625 C 2.566406 16.640625 2.886719 16.964844 2.886719 17.363281 L 2.886719 27.464844 L 15.15625 27.464844 L 15.15625 10.144531 L 7.9375 10.144531 L 7.9375 14.476562 C 7.9375 14.875 7.617188 15.199219 7.21875 15.199219 L 2.164062 15.199219 C 1.875 15.199219 1.609375 15.023438 1.5 14.75 C 1.386719 14.480469 1.449219 14.171875 1.65625 13.964844 L 6.707031 8.914062 C 6.714844 8.90625 6.722656 8.898438 6.730469 8.890625 C 6.859375 8.773438 7.03125 8.703125 7.21875 8.703125 L 15.878906 8.703125 C 16.277344 8.703125 16.597656 9.027344 16.597656 9.425781 L 16.597656 28.1875 C 16.597656 28.585938 16.277344 28.910156 15.878906 28.910156 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<path fill="#38b6ff" d="M 5.773438 19.527344 L 5.050781 19.527344 C 4.65625 19.527344 4.332031 19.203125 4.332031 18.804688 C 4.332031 18.40625 4.65625 18.085938 5.050781 18.085938 L 5.773438 18.085938 C 6.175781 18.085938 6.496094 18.40625 6.496094 18.804688 C 6.496094 19.203125 6.175781 19.527344 5.773438 19.527344 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 12.992188 19.527344 L 8.660156 19.527344 C 8.261719 19.527344 7.9375 19.203125 7.9375 18.804688 C 7.9375 18.40625 8.261719 18.085938 8.660156 18.085938 L 12.992188 18.085938 C 13.390625 18.085938 13.710938 18.40625 13.710938 18.804688 C 13.710938 19.203125 13.390625 19.527344 12.992188 19.527344 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 5.773438 23.859375 L 5.050781 23.859375 C 4.65625 23.859375 4.332031 23.535156 4.332031 23.136719 C 4.332031 22.738281 4.65625 22.414062 5.050781 22.414062 L 5.773438 22.414062 C 6.175781 22.414062 6.496094 22.738281 6.496094 23.136719 C 6.496094 23.535156 6.175781 23.859375 5.773438 23.859375 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 12.992188 23.859375 L 8.660156 23.859375 C 8.261719 23.859375 7.9375 23.535156 7.9375 23.136719 C 7.9375 22.738281 8.261719 22.414062 8.660156 22.414062 L 12.992188 22.414062 C 13.390625 22.414062 13.710938 22.738281 13.710938 23.136719 C 13.710938 23.535156 13.390625 23.859375 12.992188 23.859375 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 33.082031 6.71875 C 32.964844 6.71875 32.847656 6.6875 32.738281 6.628906 C 30.023438 5.152344 26.9375 4.371094 23.816406 4.371094 C 20.882812 4.371094 18.074219 5.027344 15.476562 6.324219 C 15.117188 6.503906 14.6875 6.355469 14.511719 6 C 14.332031 5.644531 14.476562 5.210938 14.835938 5.03125 C 17.632812 3.636719 20.65625 2.929688 23.816406 2.929688 C 27.179688 2.929688 30.503906 3.769531 33.429688 5.363281 C 33.777344 5.554688 33.90625 5.988281 33.714844 6.339844 C 33.582031 6.582031 33.339844 6.71875 33.082031 6.71875 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 37.96875 37.253906 C 37.789062 37.253906 37.613281 37.1875 37.472656 37.054688 C 37.183594 36.78125 37.167969 36.324219 37.441406 36.035156 C 40.105469 33.21875 41.8125 29.722656 42.378906 25.914062 C 42.4375 25.523438 42.804688 25.253906 43.195312 25.308594 C 43.589844 25.367188 43.863281 25.734375 43.804688 26.128906 C 43.195312 30.226562 41.359375 33.996094 38.492188 37.027344 C 38.351562 37.175781 38.160156 37.253906 37.96875 37.253906 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 17.320312 42.230469 C 17.242188 42.230469 17.160156 42.21875 17.082031 42.191406 C 12.738281 40.660156 9.015625 37.644531 6.601562 33.710938 C 6.394531 33.371094 6.5 32.925781 6.839844 32.71875 C 7.179688 32.507812 7.621094 32.617188 7.832031 32.953125 C 10.074219 36.609375 13.527344 39.40625 17.558594 40.828125 C 17.933594 40.960938 18.136719 41.375 18.003906 41.75 C 17.894531 42.046875 17.617188 42.230469 17.320312 42.230469 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 7.21875 38.292969 C 6.820312 38.292969 6.496094 37.96875 6.496094 37.570312 L 6.496094 33.238281 C 6.496094 33.027344 6.589844 32.824219 6.75 32.6875 C 6.914062 32.550781 7.125 32.492188 7.335938 32.527344 L 11.664062 33.25 C 12.058594 33.316406 12.324219 33.6875 12.261719 34.078125 C 12.191406 34.472656 11.820312 34.734375 11.429688 34.671875 L 7.9375 34.089844 L 7.9375 37.570312 C 7.9375 37.96875 7.617188 38.292969 7.21875 38.292969 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 37.871094 37.277344 C 37.726562 37.277344 37.582031 37.230469 37.460938 37.148438 C 37.285156 37.027344 37.171875 36.832031 37.152344 36.625 L 36.730469 32.253906 C 36.691406 31.859375 36.980469 31.503906 37.378906 31.464844 C 37.777344 31.425781 38.128906 31.71875 38.164062 32.113281 L 38.503906 35.636719 L 41.867188 34.734375 C 42.253906 34.632812 42.648438 34.863281 42.75 35.246094 C 42.851562 35.632812 42.625 36.027344 42.242188 36.132812 L 38.058594 37.25 C 37.996094 37.269531 37.933594 37.277344 37.871094 37.277344 " fill-opacity="1" fill-rule="nonzero"></path>
									<g clip-path="url(#7d3e8b6d96)">
										<path fill="#38b6ff" d="M 29.027344 8.351562 C 28.734375 8.351562 28.460938 8.167969 28.351562 7.878906 C 28.214844 7.507812 28.402344 7.089844 28.773438 6.953125 L 32.097656 5.707031 L 30.402344 2.6875 C 30.207031 2.34375 30.332031 1.902344 30.679688 1.707031 C 31.027344 1.511719 31.464844 1.632812 31.660156 1.984375 L 33.765625 5.734375 C 33.871094 5.917969 33.886719 6.136719 33.816406 6.335938 C 33.746094 6.53125 33.589844 6.6875 33.390625 6.761719 L 29.28125 8.300781 C 29.199219 8.332031 29.113281 8.351562 29.027344 8.351562 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
								</svg>
								<div class="ms-3">
									<small class="text-muted">Total</small>
									<h5 class="m-0 text-dark">Projects</h5>
								</div>
							</div>
						</div>
						<div class="col-auto text-end">
							<h4 class="m-0 text-dark">1</h4>
							<small class="text-muted">
								<span class="text-success">0%</span>
								completed</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mb-3 mb-sm-0">
							<div class="d-flex align-items-center">

								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" zoomandpan="magnify" viewbox="0 0 48 48" height="50" preserveaspectratio="xMidYMid meet" version="1.0">
									<defs>
										<clipPath id="a1fe5468b3">
											<path d="M 0.488281 0 L 47.507812 0 L 47.507812 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " clip-rule="nonzero"></path>
										</clipPath>
										<clipPath id="dcb76a0693">
											<path d="M 5.191406 0 L 42.660156 0 L 42.660156 47.019531 L 5.191406 47.019531 Z M 5.191406 0 " clip-rule="nonzero"></path>
										</clipPath>
									</defs>
									<g clip-path="url(#a1fe5468b3)">
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<g clip-path="url(#dcb76a0693)">
										<path fill="#38b6ff" d="M 6.753906 3.140625 C 6.753906 2.277344 7.453125 1.574219 8.3125 1.574219 L 35.636719 1.574219 L 35.636719 3.921875 C 35.636719 5.652344 37.035156 7.058594 38.757812 7.058594 L 41.101562 7.058594 L 41.101562 43.878906 C 41.101562 44.742188 40.398438 45.449219 39.539062 45.449219 L 8.3125 45.449219 C 7.453125 45.449219 6.753906 44.742188 6.753906 43.878906 Z M 39.996094 5.488281 L 38.757812 5.488281 C 37.898438 5.488281 37.195312 4.785156 37.195312 3.921875 L 37.195312 2.679688 Z M 8.3125 47.015625 L 39.539062 47.015625 C 41.261719 47.015625 42.660156 45.609375 42.660156 43.878906 L 42.660156 6.921875 C 42.660156 6.59375 42.589844 6.277344 42.464844 5.984375 C 42.453125 5.964844 42.445312 5.953125 42.4375 5.9375 C 42.324219 5.6875 42.171875 5.460938 41.976562 5.261719 L 37.425781 0.695312 C 37.226562 0.496094 36.996094 0.34375 36.75 0.226562 C 36.734375 0.21875 36.722656 0.210938 36.710938 0.207031 C 36.417969 0.0742188 36.097656 0.00390625 35.769531 0.00390625 L 8.3125 0.00390625 C 6.589844 0.00390625 5.191406 1.410156 5.191406 3.140625 L 5.191406 43.878906 C 5.191406 45.609375 6.589844 47.015625 8.3125 47.015625 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<path fill="#38b6ff" d="M 11.4375 10.972656 C 11.4375 10.542969 11.789062 10.191406 12.21875 10.191406 L 16.902344 10.191406 C 17.238281 10.191406 17.515625 10.40625 17.625 10.707031 L 15.339844 13 L 14.332031 11.988281 C 14.027344 11.679688 13.53125 11.679688 13.226562 11.988281 C 12.921875 12.292969 12.921875 12.789062 13.226562 13.09375 L 14.789062 14.664062 C 14.941406 14.816406 15.136719 14.890625 15.339844 14.890625 C 15.542969 14.890625 15.738281 14.816406 15.890625 14.664062 L 17.679688 12.867188 L 17.679688 15.675781 C 17.679688 16.105469 17.332031 16.457031 16.902344 16.457031 L 12.21875 16.457031 C 11.789062 16.457031 11.4375 16.105469 11.4375 15.675781 Z M 12.21875 18.027344 L 16.902344 18.027344 C 18.195312 18.027344 19.242188 16.972656 19.242188 15.675781 L 19.242188 11.300781 L 21.355469 9.179688 C 21.660156 8.871094 21.660156 8.375 21.355469 8.070312 C 21.050781 7.765625 20.558594 7.765625 20.253906 8.070312 L 18.765625 9.5625 C 18.335938 8.996094 17.664062 8.625 16.902344 8.625 L 12.21875 8.625 C 10.925781 8.625 9.875 9.675781 9.875 10.972656 L 9.875 15.675781 C 9.875 16.972656 10.925781 18.027344 12.21875 18.027344 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 11.4375 21.941406 C 11.4375 21.511719 11.789062 21.160156 12.21875 21.160156 L 16.902344 21.160156 C 17.332031 21.160156 17.679688 21.511719 17.679688 21.941406 L 17.679688 26.644531 C 17.679688 27.074219 17.332031 27.425781 16.902344 27.425781 L 12.21875 27.425781 C 11.789062 27.425781 11.4375 27.074219 11.4375 26.644531 Z M 12.21875 28.996094 L 16.902344 28.996094 C 18.195312 28.996094 19.242188 27.941406 19.242188 26.644531 L 19.242188 21.941406 C 19.242188 20.644531 18.195312 19.59375 16.902344 19.59375 L 12.21875 19.59375 C 10.925781 19.59375 9.875 20.644531 9.875 21.941406 L 9.875 26.644531 C 9.875 27.941406 10.925781 28.996094 12.21875 28.996094 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 11.4375 32.910156 C 11.4375 32.480469 11.789062 32.128906 12.21875 32.128906 L 16.902344 32.128906 C 17.332031 32.128906 17.679688 32.480469 17.679688 32.910156 L 17.679688 37.613281 C 17.679688 38.042969 17.332031 38.394531 16.902344 38.394531 L 12.21875 38.394531 C 11.789062 38.394531 11.4375 38.042969 11.4375 37.613281 Z M 12.21875 39.964844 L 16.902344 39.964844 C 18.195312 39.964844 19.242188 38.910156 19.242188 37.613281 L 19.242188 32.910156 C 19.242188 31.613281 18.195312 30.5625 16.902344 30.5625 L 12.21875 30.5625 C 10.925781 30.5625 9.875 31.613281 9.875 32.910156 L 9.875 37.613281 C 9.875 38.910156 10.925781 39.964844 12.21875 39.964844 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 23.925781 11.757812 L 37.195312 11.757812 C 37.625 11.757812 37.976562 11.40625 37.976562 10.972656 C 37.976562 10.542969 37.625 10.191406 37.195312 10.191406 L 23.925781 10.191406 C 23.496094 10.191406 23.144531 10.542969 23.144531 10.972656 C 23.144531 11.40625 23.496094 11.757812 23.925781 11.757812 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 23.925781 15.675781 L 31.734375 15.675781 C 32.164062 15.675781 32.511719 15.324219 32.511719 14.890625 C 32.511719 14.460938 32.164062 14.109375 31.734375 14.109375 L 23.925781 14.109375 C 23.496094 14.109375 23.144531 14.460938 23.144531 14.890625 C 23.144531 15.324219 23.496094 15.675781 23.925781 15.675781 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 23.925781 22.726562 L 37.195312 22.726562 C 37.625 22.726562 37.976562 22.375 37.976562 21.941406 C 37.976562 21.511719 37.625 21.160156 37.195312 21.160156 L 23.925781 21.160156 C 23.496094 21.160156 23.144531 21.511719 23.144531 21.941406 C 23.144531 22.375 23.496094 22.726562 23.925781 22.726562 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 23.925781 26.644531 L 31.734375 26.644531 C 32.164062 26.644531 32.511719 26.292969 32.511719 25.859375 C 32.511719 25.429688 32.164062 25.078125 31.734375 25.078125 L 23.925781 25.078125 C 23.496094 25.078125 23.144531 25.429688 23.144531 25.859375 C 23.144531 26.292969 23.496094 26.644531 23.925781 26.644531 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 23.925781 33.695312 L 37.195312 33.695312 C 37.625 33.695312 37.976562 33.34375 37.976562 32.910156 C 37.976562 32.480469 37.625 32.128906 37.195312 32.128906 L 23.925781 32.128906 C 23.496094 32.128906 23.144531 32.480469 23.144531 32.910156 C 23.144531 33.34375 23.496094 33.695312 23.925781 33.695312 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 23.925781 37.613281 L 31.734375 37.613281 C 32.164062 37.613281 32.511719 37.261719 32.511719 36.828125 C 32.511719 36.398438 32.164062 36.046875 31.734375 36.046875 L 23.925781 36.046875 C 23.496094 36.046875 23.144531 36.398438 23.144531 36.828125 C 23.144531 37.261719 23.496094 37.613281 23.925781 37.613281 " fill-opacity="1" fill-rule="nonzero"></path>
								</svg>
								<div class="ms-3">
									<small class="text-muted">Total</small>
									<h5 class="m-0 text-dark">Tasks</h5>
								</div>
							</div>
						</div>
						<div class="col-auto text-end">
							<h4 class="m-0 text-dark">0</h4>
							<small class="text-muted">
								<span class="text-success">0%</span>
								completd</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mb-3 mb-sm-0">
							<div class="d-flex align-items-center">

								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" zoomandpan="magnify" viewbox="0 0 48 48" height="50" preserveaspectratio="xMidYMid meet" version="1.0">
									<defs>
										<clipPath id="d353d20c5f">
											<path d="M 0.488281 0 L 47.507812 0 L 47.507812 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " clip-rule="nonzero"></path>
										</clipPath>
										<clipPath id="d1f02cb570">
											<path d="M 2.773438 0 L 46.121094 0 L 46.121094 46.285156 L 2.773438 46.285156 Z M 2.773438 0 " clip-rule="nonzero"></path>
										</clipPath>
									</defs>
									<g clip-path="url(#d353d20c5f)">
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
										<path fill="#ffffff00" d="M 0.488281 0 L 47.511719 0 L 47.511719 47.019531 L 0.488281 47.019531 Z M 0.488281 0 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<path fill="#38b6ff" d="M 23.726562 2.898438 C 23.109375 2.898438 22.5 2.957031 21.894531 3.078125 C 21.289062 3.199219 20.703125 3.375 20.132812 3.613281 C 19.5625 3.847656 19.019531 4.136719 18.507812 4.480469 C 17.996094 4.824219 17.519531 5.214844 17.085938 5.648438 C 16.648438 6.085938 16.257812 6.5625 15.917969 7.074219 C 15.574219 7.585938 15.285156 8.128906 15.050781 8.699219 C 14.8125 9.269531 14.636719 9.859375 14.515625 10.464844 C 14.394531 11.066406 14.335938 11.679688 14.335938 12.296875 C 14.335938 12.914062 14.394531 13.523438 14.515625 14.128906 C 14.636719 14.734375 14.8125 15.324219 15.050781 15.894531 C 15.285156 16.464844 15.574219 17.007812 15.917969 17.519531 C 16.257812 18.03125 16.648438 18.507812 17.085938 18.945312 C 17.519531 19.378906 17.996094 19.769531 18.507812 20.113281 C 19.019531 20.457031 19.5625 20.746094 20.132812 20.980469 C 20.703125 21.21875 21.289062 21.394531 21.894531 21.515625 C 22.5 21.636719 23.109375 21.695312 23.726562 21.695312 C 24.34375 21.695312 24.953125 21.636719 25.558594 21.515625 C 26.164062 21.394531 26.75 21.21875 27.320312 20.980469 C 27.890625 20.746094 28.429688 20.457031 28.945312 20.113281 C 29.457031 19.769531 29.929688 19.378906 30.367188 18.945312 C 30.804688 18.507812 31.191406 18.03125 31.535156 17.519531 C 31.878906 17.007812 32.167969 16.464844 32.402344 15.894531 C 32.640625 15.324219 32.816406 14.734375 32.9375 14.128906 C 33.058594 13.523438 33.117188 12.914062 33.117188 12.296875 C 33.117188 11.679688 33.058594 11.066406 32.9375 10.464844 C 32.816406 9.859375 32.640625 9.269531 32.402344 8.699219 C 32.167969 8.128906 31.878906 7.585938 31.535156 7.074219 C 31.191406 6.5625 30.804688 6.085938 30.367188 5.648438 C 29.929688 5.214844 29.457031 4.824219 28.945312 4.480469 C 28.429688 4.136719 27.890625 3.847656 27.320312 3.613281 C 26.75 3.375 26.164062 3.199219 25.558594 3.078125 C 24.953125 2.957031 24.34375 2.898438 23.726562 2.898438 Z M 23.726562 20.25 C 23.203125 20.25 22.6875 20.199219 22.175781 20.097656 C 21.664062 19.996094 21.167969 19.84375 20.683594 19.644531 C 20.203125 19.445312 19.746094 19.199219 19.3125 18.910156 C 18.875 18.621094 18.476562 18.289062 18.105469 17.921875 C 17.738281 17.550781 17.40625 17.148438 17.117188 16.714844 C 16.828125 16.28125 16.582031 15.824219 16.382812 15.339844 C 16.183594 14.859375 16.035156 14.359375 15.929688 13.847656 C 15.828125 13.335938 15.777344 12.820312 15.777344 12.296875 C 15.777344 11.773438 15.828125 11.257812 15.929688 10.746094 C 16.035156 10.234375 16.183594 9.734375 16.382812 9.253906 C 16.582031 8.769531 16.828125 8.3125 17.117188 7.878906 C 17.40625 7.445312 17.738281 7.042969 18.105469 6.671875 C 18.476562 6.304688 18.875 5.972656 19.3125 5.683594 C 19.746094 5.394531 20.203125 5.148438 20.683594 4.949219 C 21.167969 4.75 21.664062 4.597656 22.175781 4.496094 C 22.6875 4.394531 23.203125 4.34375 23.726562 4.34375 C 24.246094 4.34375 24.765625 4.394531 25.277344 4.496094 C 25.789062 4.597656 26.285156 4.75 26.765625 4.949219 C 27.25 5.148438 27.707031 5.394531 28.140625 5.683594 C 28.574219 5.972656 28.976562 6.304688 29.34375 6.671875 C 29.714844 7.042969 30.042969 7.445312 30.332031 7.878906 C 30.625 8.3125 30.867188 8.769531 31.066406 9.253906 C 31.265625 9.734375 31.417969 10.234375 31.519531 10.746094 C 31.621094 11.257812 31.671875 11.773438 31.671875 12.296875 C 31.671875 12.820312 31.621094 13.335938 31.519531 13.847656 C 31.417969 14.359375 31.265625 14.859375 31.066406 15.339844 C 30.867188 15.824219 30.625 16.28125 30.332031 16.714844 C 30.042969 17.148438 29.714844 17.550781 29.34375 17.921875 C 28.976562 18.289062 28.574219 18.621094 28.140625 18.910156 C 27.707031 19.199219 27.25 19.445312 26.765625 19.644531 C 26.285156 19.84375 25.789062 19.996094 25.277344 20.097656 C 24.765625 20.199219 24.246094 20.25 23.726562 20.25 Z M 23.726562 20.25 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 24.746094 9.109375 C 25.027344 9.390625 25.167969 9.730469 25.171875 10.128906 L 26.617188 10.128906 C 26.617188 9.328125 26.335938 8.648438 25.769531 8.082031 C 25.398438 7.71875 24.957031 7.476562 24.449219 7.359375 L 24.449219 6.511719 L 23.003906 6.511719 L 23.003906 7.359375 C 22.496094 7.476562 22.054688 7.71875 21.679688 8.082031 C 21.269531 8.496094 21.003906 8.988281 20.890625 9.5625 C 20.773438 10.136719 20.828125 10.695312 21.054688 11.234375 C 21.277344 11.777344 21.632812 12.207031 22.121094 12.53125 C 22.605469 12.859375 23.140625 13.019531 23.726562 13.019531 C 24.121094 13.019531 24.460938 13.160156 24.746094 13.4375 C 25.027344 13.722656 25.171875 14.066406 25.171875 14.464844 C 25.167969 14.863281 25.027344 15.203125 24.746094 15.484375 C 24.609375 15.621094 24.453125 15.722656 24.277344 15.796875 C 24.101562 15.871094 23.917969 15.90625 23.726562 15.90625 C 23.535156 15.90625 23.351562 15.871094 23.175781 15.796875 C 23 15.722656 22.84375 15.621094 22.707031 15.484375 C 22.425781 15.203125 22.28125 14.863281 22.28125 14.464844 L 20.835938 14.464844 C 20.835938 14.785156 20.890625 15.097656 20.992188 15.398438 C 21.097656 15.703125 21.25 15.980469 21.445312 16.230469 C 21.640625 16.484375 21.871094 16.699219 22.140625 16.875 C 22.40625 17.050781 22.695312 17.175781 23.003906 17.257812 L 23.003906 18.082031 L 24.449219 18.082031 L 24.449219 17.257812 C 24.785156 17.164062 25.09375 17.019531 25.378906 16.816406 C 25.660156 16.609375 25.898438 16.363281 26.09375 16.074219 C 26.285156 15.785156 26.425781 15.46875 26.503906 15.128906 C 26.582031 14.789062 26.601562 14.445312 26.558594 14.101562 C 26.515625 13.753906 26.410156 13.425781 26.25 13.117188 C 26.085938 12.808594 25.875 12.539062 25.613281 12.308594 C 25.355469 12.074219 25.0625 11.894531 24.738281 11.769531 C 24.410156 11.644531 24.074219 11.578125 23.726562 11.574219 C 23.433594 11.574219 23.167969 11.492188 22.925781 11.328125 C 22.683594 11.164062 22.507812 10.949219 22.398438 10.679688 C 22.285156 10.410156 22.257812 10.132812 22.3125 9.847656 C 22.371094 9.5625 22.5 9.316406 22.707031 9.109375 C 22.84375 8.972656 23 8.871094 23.175781 8.796875 C 23.351562 8.722656 23.535156 8.6875 23.726562 8.6875 C 23.917969 8.6875 24.101562 8.722656 24.277344 8.796875 C 24.453125 8.871094 24.609375 8.972656 24.746094 9.109375 Z M 24.746094 9.109375 " fill-opacity="1" fill-rule="nonzero"></path>
									<g clip-path="url(#d1f02cb570)">
										<path fill="#38b6ff" d="M 41.066406 0.00390625 L 15.054688 0.00390625 C 14.722656 0.00390625 14.394531 0.0351562 14.070312 0.101562 C 13.746094 0.167969 13.429688 0.261719 13.121094 0.390625 C 12.8125 0.515625 12.523438 0.671875 12.246094 0.859375 C 11.972656 1.042969 11.714844 1.253906 11.480469 1.488281 C 11.246094 1.722656 11.035156 1.976562 10.851562 2.253906 C 10.667969 2.53125 10.511719 2.820312 10.382812 3.128906 C 10.257812 3.4375 10.160156 3.753906 10.097656 4.078125 C 10.03125 4.40625 10 4.734375 10 5.066406 L 10 40.496094 L 3.496094 40.496094 C 3.296875 40.496094 3.128906 40.566406 2.988281 40.707031 C 2.84375 40.847656 2.773438 41.019531 2.773438 41.21875 C 2.773438 41.550781 2.808594 41.882812 2.871094 42.207031 C 2.9375 42.53125 3.03125 42.847656 3.160156 43.15625 C 3.285156 43.464844 3.441406 43.753906 3.628906 44.03125 C 3.8125 44.308594 4.019531 44.5625 4.257812 44.796875 C 4.492188 45.035156 4.746094 45.242188 5.023438 45.429688 C 5.296875 45.613281 5.589844 45.769531 5.898438 45.894531 C 6.203125 46.023438 6.519531 46.117188 6.84375 46.183594 C 7.171875 46.25 7.5 46.28125 7.832031 46.28125 L 32.394531 46.28125 C 32.726562 46.28125 33.054688 46.25 33.382812 46.183594 C 33.707031 46.117188 34.023438 46.023438 34.332031 45.894531 C 34.636719 45.769531 34.929688 45.613281 35.203125 45.429688 C 35.480469 45.242188 35.738281 45.035156 35.972656 44.796875 C 36.207031 44.5625 36.414062 44.308594 36.601562 44.03125 C 36.785156 43.753906 36.941406 43.464844 37.066406 43.15625 C 37.195312 42.847656 37.289062 42.53125 37.355469 42.207031 C 37.421875 41.882812 37.453125 41.550781 37.453125 41.21875 L 37.453125 37.605469 L 36.007812 37.605469 L 36.007812 41.21875 C 36.007812 41.699219 35.914062 42.160156 35.734375 42.601562 C 35.550781 43.046875 35.289062 43.4375 34.949219 43.777344 C 34.609375 44.113281 34.21875 44.375 33.777344 44.558594 C 33.335938 44.742188 32.875 44.835938 32.394531 44.835938 C 31.917969 44.835938 31.457031 44.742188 31.011719 44.558594 C 30.570312 44.375 30.179688 44.113281 29.839844 43.777344 C 29.503906 43.4375 29.242188 43.046875 29.058594 42.601562 C 28.875 42.160156 28.78125 41.699219 28.78125 41.21875 C 28.78125 41.019531 28.710938 40.847656 28.570312 40.707031 C 28.429688 40.566406 28.261719 40.496094 28.058594 40.496094 L 11.445312 40.496094 L 11.445312 5.066406 C 11.445312 4.585938 11.535156 4.125 11.71875 3.683594 C 11.902344 3.238281 12.164062 2.847656 12.503906 2.507812 C 12.839844 2.171875 13.230469 1.910156 13.675781 1.726562 C 14.117188 1.542969 14.578125 1.449219 15.054688 1.449219 L 37.53125 1.449219 C 37.046875 1.925781 36.667969 2.476562 36.40625 3.105469 C 36.140625 3.730469 36.007812 4.386719 36.007812 5.066406 L 36.007812 33.265625 L 37.453125 33.265625 L 37.453125 5.789062 L 45.398438 5.789062 C 45.597656 5.789062 45.769531 5.71875 45.910156 5.578125 C 46.050781 5.4375 46.121094 5.265625 46.121094 5.066406 C 46.121094 4.734375 46.089844 4.40625 46.023438 4.078125 C 45.960938 3.753906 45.863281 3.4375 45.738281 3.128906 C 45.609375 2.820312 45.453125 2.53125 45.269531 2.253906 C 45.085938 1.976562 44.875 1.722656 44.640625 1.488281 C 44.40625 1.253906 44.148438 1.042969 43.875 0.859375 C 43.597656 0.671875 43.308594 0.515625 43 0.390625 C 42.691406 0.261719 42.375 0.167969 42.050781 0.101562 C 41.726562 0.0351562 41.398438 0.00390625 41.066406 0.00390625 Z M 28.863281 44.835938 L 7.832031 44.835938 C 7.414062 44.835938 7.011719 44.765625 6.617188 44.625 C 6.226562 44.484375 5.871094 44.285156 5.546875 44.019531 C 5.222656 43.757812 4.957031 43.445312 4.738281 43.089844 C 4.523438 42.734375 4.375 42.351562 4.292969 41.941406 L 27.410156 41.941406 C 27.566406 43.074219 28.050781 44.035156 28.863281 44.835938 Z M 37.53125 4.34375 C 37.613281 3.933594 37.765625 3.550781 37.980469 3.195312 C 38.195312 2.835938 38.464844 2.527344 38.785156 2.261719 C 39.109375 2 39.464844 1.796875 39.859375 1.65625 C 40.25 1.515625 40.65625 1.445312 41.070312 1.445312 C 41.488281 1.445312 41.894531 1.515625 42.285156 1.65625 C 42.679688 1.796875 43.035156 2 43.359375 2.261719 C 43.679688 2.527344 43.949219 2.835938 44.164062 3.195312 C 44.378906 3.550781 44.527344 3.933594 44.613281 4.34375 Z M 37.53125 4.34375 " fill-opacity="1" fill-rule="nonzero"></path>
									</g>
									<path fill="#38b6ff" d="M 15.054688 31.097656 L 20.835938 31.097656 L 20.835938 32.542969 L 15.054688 32.542969 Z M 15.054688 31.097656 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 15.054688 34.710938 L 20.835938 34.710938 L 20.835938 36.15625 L 15.054688 36.15625 Z M 15.054688 34.710938 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 15.054688 23.867188 L 20.835938 23.867188 L 20.835938 25.3125 L 15.054688 25.3125 Z M 15.054688 23.867188 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 15.054688 27.480469 L 20.835938 27.480469 L 20.835938 28.925781 L 15.054688 28.925781 Z M 15.054688 27.480469 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 26.617188 23.867188 L 32.394531 23.867188 L 32.394531 25.3125 L 26.617188 25.3125 Z M 26.617188 23.867188 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 26.617188 27.480469 L 32.394531 27.480469 L 32.394531 28.925781 L 26.617188 28.925781 Z M 26.617188 27.480469 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 26.617188 31.097656 L 32.394531 31.097656 L 32.394531 32.542969 L 26.617188 32.542969 Z M 26.617188 31.097656 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 26.617188 34.710938 L 32.394531 34.710938 L 32.394531 36.15625 L 26.617188 36.15625 Z M 26.617188 34.710938 " fill-opacity="1" fill-rule="nonzero"></path>
									<path fill="#38b6ff" d="M 36.007812 34.710938 L 37.453125 34.710938 L 37.453125 36.15625 L 36.007812 36.15625 Z M 36.007812 34.710938 " fill-opacity="1" fill-rule="nonzero"></path>
								</svg>
								<div class="ms-3">
									<small class="text-muted">Total</small>
									<h5 class="m-0 text-dark">Expense</h5>
								</div>
							</div>
						</div>
						<div class="col-auto text-end">
							<h4 class="m-0 text-dark">0</h4>
							<small class="text-muted">
								<span class="text-success">0%</span>
								expense</small>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card">
				<div class="card-header">

					<h5>Project Status</h5>
				</div>
				<div class="card-body">
					<div class="row ">
						<div class="col-md-6 col-sm-6 mb-5">
							<div class="align-items-start">

								<div class="ms-2">
									<p class="text-muted text-sm mb-0">In Progress</p>
									<h3 class="mb-0 text-info">1%</h3>
									<div class="progress mb-0">
										<div class="progress-bar bg-info" style="width: 100%;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 mb-5">
							<div class="align-items-start">

								<div class="ms-2">
									<p class="text-muted text-sm mb-0">On Hold</p>
									<h3 class="mb-0 text-warning">0%</h3>
									<div class="progress mb-0">
										<div class="progress-bar bg-warning" style="width: 0%;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 mb-5">
							<div class="align-items-start">

								<div class="ms-2">
									<p class="text-muted text-sm mb-0">Complete</p>
									<h3 class="mb-0 text-success">0%</h3>
									<div class="progress mb-0">
										<div class="progress-bar bg-success" style="width: 0%;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 mb-5">
							<div class="align-items-start">

								<div class="ms-2">
									<p class="text-muted text-sm mb-0">Canceled</p>
									<h3 class="mb-0 text-danger">0%</h3>
									<div class="progress mb-0">
										<div class="progress-bar bg-danger" style="width: 0%;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Task Overview</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="line-example" data-colors="#4254ba,#17a497"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>

		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					<h5>Top Due Projects</h5>
				</div>
				<div class="card-body project_table">
					<div class="table-responsive ">
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th>Name</th>
									<th>End Date</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="d-flex align-items-center">
											<img src="https://liviso.net/storage/" class="wid-40 rounded-circle me-3">
											<div>
												<h6 class="mb-0">Automatic</h6>
												<p class="mb-0">
													<span class="text-success">$23.00</span>
												</p>

											</div>
										</div>
									</td>
									<td>27 Oct 2023</td>
									<td class="">
										<span class=" status_badge p-2 px-3 rounded badge bg-info">In Progress</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title mb-4">Timesheet Logged Hours</h4>

					<div dir="ltr">
						<div class="mt-3 chartjs-chart" style="height: 320px;">
							<canvas id="boundaries-example" data-colors="#4254ba,#17a497"></canvas>
						</div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Top Due Tasks</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block javascript %}
	<!-- Chart.js-->
	<script src="/vendor/chart.js/chart.min.js"></script>

	<!-- Chart.js Line Demo js -->
	<script src="/js/pages/demo.chartjs-line.js"></script>

	<!-- Chart.js Area Demo js -->
	<script src="/js/pages/demo.chartjs-area.js"></script>
{% endblock %}
