{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Account Statment
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Export">
					<i class="bi bi-box-arrow-up"></i>
				</a>
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Download">
					<span class="btn-inner--icon">
						<i class="bi bi-download"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Account Statment', page_title: 'Account Statment' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div>
		<div class="row">
			<div class="col-sm-12">
				<div class="mt-2 " id="multiCollapseExample1">
					<div class="card">
						<div class="card-body">
							<form method="GET" action="#" accept-charset="UTF-8" id="report_account">
								<div class="row align-items-center justify-content-end">
									<div class="col-xl-10">
										<div class="row">

											<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
												<div class="btn-box">
													<label for="start_month" class="form-label">Start Month</label>
													<input class="month-btn form-control" name="start_month" type="month" value="2023-06" id="start_month">
												</div>
											</div>
											<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
												<div class="btn-box">
													<label for="end_month" class="form-label">End Month</label>
													<input class="month-btn form-control" name="end_month" type="month" value="2023-11" id="end_month">
												</div>
											</div>

											<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
												<div class="btn-box">
													<label for="account" class="form-label">Account</label>
													<select class="form-control select" id="account" name="account">
														<option value="" selected="selected">Select Account</option>
														<option value="51">cash</option>
														<option value="71">ramu</option>
													</select>
												</div>
											</div>
											<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
												<div class="btn-box">
													<label for="type" class="form-label">Category</label>
													<select class="form-control select" id="type" name="type">
														<option selected="selected" value="">Select Category</option>
														<option value="revenue">Revenue</option>
														<option value="payment">Payment</option>
													</select>
												</div>
											</div>

										</div>
									</div>
									<div class="col-auto">
										<div class="row">
											<div class="col-auto mt-4">
												<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('report_account').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
													<span class="btn-inner--icon">
														<i class="bi bi-search"></i>
													</span>
												</a>
												<a href="#" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
													<span class="btn-inner--icon">
														<i class="bi bi-trash"></i>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="container" id="printable">
			<div class="row mt-3">
				<div class="col">
					<div class="card p-4 mb-4">
						<h6 class="report-text gray-text mb-0">Report :</h6>
						<h5 class="report-text mb-0 text-dark">Account Statement Summary</h5>
					</div>
				</div>
				<div class="col">
					<div class="card p-4 mb-4">
						<h6 class="report-text gray-text mb-0">Type :</h6>
						<h5 class="report-text mb-0 text-dark">Revenue</h5>
					</div>
				</div>
				<div class="col">
					<div class="card p-4 mb-4">
						<h6 class="report-text gray-text mb-0">Duration :</h6>
						<h5 class="report-text mb-0 text-dark">Nov-2023 to Jun-2023</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
							<thead>
								<tr>
									<th>Date</th>
									<th>Amount</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								{# <tr>
																																																																																																																																																																																	<td>Cara Stevens</td>
																																																																																																																																																																																	<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																																																																																																																																																																																	<td>New York</td>
																																																																																																																																																																																	<td>46</td>
																																																																																																																																																																																	<td>2011/12/06</td>
																																																																																																																																																																																	<td>2011/12/06</td>
																																																																																																																																																																																</tr> #}
							</tbody>
						</table>

					</div>
					<!-- end card body-->
				</div>
				<!-- end card -->
			</div>
			<!-- end col-->
		</div>
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
