{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Role
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Download">
					<span class="btn-inner--icon">
						<i class="bi bi-download"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Bill Summary', page_title: 'Bill Summary' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<form method="GET" action="#" accept-charset="UTF-8" id="report_Bill_summary">
				<div class="row align-items-center justify-content-end">
					<div class="col-xl-10">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
								<div class="btn-box">
									<label for="start_month" class="form-label">Start Month</label>

									<input class="month-btn form-control" name="start_month" type="month" value="2023-06" id="start_month">

								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
								<div class="btn-box">
									<label for="end_month" class="form-label">End Month</label>

									<input class="month-btn form-control" name="end_month" type="month" value="2023-11" id="end_month">

								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
								<div class="btn-box">
									<label for="customer" class="form-label">Customer</label>

									<select class="form-control select" id="customer" name="customer">
										<option value="" selected="selected">Select Customer</option>
										<option value="10">Habeebi</option>
										<option value="11">Saleem Shahzad</option>
										<option value="12">Billy ban</option>
									</select>

								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
								<div class="btn-box">
									<label for="Status" class="form-label">Status</label>

									<select class="form-control select" id="Status" name="Status">
										<option value="" selected="selected">Select Status</option>
										<option value="10">Draft</option>
										<option value="11">Spent</option>
										<option value="12">Unpaid</option>
										<option value="12">Partially Paid</option>
										<option value="12">Paid</option>
									</select>

								</div>
							</div>

						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto mt-4">
								<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('report_Bill_summary').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
									<span class="btn-inner--icon">
										<i class="bi bi-search"></i>
									</span>
								</a>
								<a href="#" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
									<span class="btn-inner--icon">
										<i class="bi bi-trash"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
	<div class="row mt-3">
		<div class="col">
			<input type="hidden" value="All Bill Report of Jan-2023 to Dec-2023 of All" id="filename">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Report :</h6>
				<h5 class="report-text mb-0 text-dark">Bill Summary</h5>
			</div>
		</div>
		<div class="col">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Duration :</h6>
				<h5 class="report-text mb-0 text-dark">--</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-4 col-md-6 col-lg-4">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Total Bill</h6>
				<h5 class="report-text mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xl-4 col-md-6 col-lg-4">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Total Paid</h6>
				<h5 class="report-text mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xl-4 col-md-6 col-lg-4">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Total Due</h6>
				<h5 class="report-text mb-0 text-dark">$0.00</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title">Summary</h4>
					<div dir="ltr">
						<div id="basic-bar" class="apex-charts" data-colors="#39afd1"></div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
{% endblock %}

{% block javascript %}
	<!-- Apex Chart js -->
	<script src="/vendor/apexcharts/apexcharts.min.js"></script>
	<!-- Apex Chart Bar Demo js -->
	<script src="/js/pages/demo.apex-bar.js"></script>
{% endblock %}
