{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Lead
{% endblock %}

{% block css %}{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Lead', page_title: 'Lead' }) }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-xl-3">
					<div class="card sticky-top rounded-3" style="top:100px">
						<div class="list-group list-group-flush rounded-3" id="useradd-sidenav">
							<a href="#general-report" class="list-group-item list-group-item-action border-0 active">General Report
								<div class="float-end">
									<i class="bi bi-chevron-right"></i>
								</div>
							</a>
							<a href="#staff-report" class="list-group-item list-group-item-action border-0">Staff Report
								<div class="float-end">
									<i class="bi bi-chevron-right"></i>
								</div>
							</a>
							<a href="#pipeline-report" class="list-group-item list-group-item-action border-0">Pipelines Report
								<div class="float-end">
									<i class="bi bi-chevron-right"></i>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="col-xl-9">
					<div id="general-report">
						<div class="card">
							<div class="card-header">
								<h5>This Week Leads Conversions</h5>
							</div>
							<div class="card-body pt-0 ">
								<div id="leads-this-week" data-color="primary" data-height="280" style="min-height: 197.7px;">
									<div id="apexcharts3wa5kzxqi" class="apexcharts-canvas apexcharts3wa5kzxqi apexcharts-theme-light" style="width: 350px; height: 197.7px;">
										<svg id="SvgjsSvg2130" width="350" height="197.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
											<foreignObject x="0" y="0" width="350" height="197.7">
												<div class="apexcharts-legend apexcharts-align-center apx-legend-position-right" xmlns="http://www.w3.org/1999/xhtml" style="position: absolute; left: auto; top: 24px; right: 5px;">
													<div class="apexcharts-legend-series" rel="1" seriesname="Monday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(53, 171, 182) !important; color: rgb(53, 171, 182); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Monday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Monday</span>
													</div>
													<div class="apexcharts-legend-series" rel="2" seriesname="Tuesday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(255, 162, 29) !important; color: rgb(255, 162, 29); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Tuesday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Tuesday</span>
													</div>
													<div class="apexcharts-legend-series" rel="3" seriesname="Wednesday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(255, 58, 110) !important; color: rgb(255, 58, 110); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Wednesday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Wednesday</span>
													</div>
													<div class="apexcharts-legend-series" rel="4" seriesname="Thursday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="4" data:collapsed="false" style="background: rgb(111, 217, 67) !important; color: rgb(111, 217, 67); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="4" i="3" data:default-text="Thursday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Thursday</span>
													</div>
													<div class="apexcharts-legend-series" rel="5" seriesname="Friday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="5" data:collapsed="false" style="background: rgb(92, 99, 106) !important; color: rgb(92, 99, 106); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="5" i="4" data:default-text="Friday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Friday</span>
													</div>
													<div class="apexcharts-legend-series" rel="6" seriesname="Saturday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="6" data:collapsed="false" style="background: rgb(24, 30, 40) !important; color: rgb(24, 30, 40); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="6" i="5" data:default-text="Saturday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Saturday</span>
													</div>
													<div class="apexcharts-legend-series" rel="7" seriesname="Sunday" data:collapsed="false" style="margin: 2px 5px;">
														<span class="apexcharts-legend-marker" rel="7" data:collapsed="false" style="background: rgb(2, 136, 209) !important; color: rgb(2, 136, 209); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
														<span class="apexcharts-legend-text" rel="7" i="6" data:default-text="Sunday" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Sunday</span>
													</div>
												</div>
												<style type="text/css">

													.apexcharts-legend {
														display: flex;
														overflow: auto;
														padding: 0 10px;
													}
													.apexcharts-legend.apx-legend-position-bottom,
													.apexcharts-legend.apx-legend-position-top {
														flex-wrap: wrap
													}
													.apexcharts-legend.apx-legend-position-right,
													.apexcharts-legend.apx-legend-position-left {
														flex-direction: column;
														bottom: 0;
													}
													.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left,
													.apexcharts-legend.apx-legend-position-top.apexcharts-align-left,
													.apexcharts-legend.apx-legend-position-right,
													.apexcharts-legend.apx-legend-position-left {
														justify-content: flex-start;
													}
													.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
													.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
														justify-content: center;
													}
													.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right,
													.apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
														justify-content: flex-end;
													}
													.apexcharts-legend-series {
														cursor: pointer;
														line-height: normal;
													}
													.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series,
													.apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
														display: flex;
														align-items: center;
													}
													.apexcharts-legend-text {
														position: relative;
														font-size: 14px;
													}
													.apexcharts-legend-text *,
													.apexcharts-legend-marker * {
														pointer-events: none;
													}
													.apexcharts-legend-marker {
														position: relative;
														display: inline-block;
														cursor: pointer;
														margin-right: 3px;
														border-style: solid;
													}

													.apexcharts-legend.apexcharts-align-right .apexcharts-legend-series,
													.apexcharts-legend.apexcharts-align-left .apexcharts-legend-series {
														display: inline-block;
													}
													.apexcharts-legend-series.apexcharts-no-click {
														cursor: auto;
													}
													.apexcharts-legend .apexcharts-hidden-zero-series,
													.apexcharts-legend .apexcharts-hidden-null-series {
														display: none !important;
													}
													.apexcharts-inactive-legend {
														opacity: 0.45;
													}
												</style>
											</foreignObject>
											<g id="SvgjsG2132" class="apexcharts-inner apexcharts-graphical" transform="translate(22, 0)">
												<defs id="SvgjsDefs2131">
													<clipPath id="gridRectMask3wa5kzxqi">
														<rect id="SvgjsRect2134" width="201" height="219" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
													</clipPath>
													<clipPath id="forecastMask3wa5kzxqi"></clipPath>
													<clipPath id="nonForecastMask3wa5kzxqi"></clipPath>
													<clipPath id="gridRectMarkerMask3wa5kzxqi">
														<rect id="SvgjsRect2135" width="199" height="221" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
													</clipPath>
												</defs>
												<g id="SvgjsG2136" class="apexcharts-pie">
													<g id="SvgjsG2137" transform="translate(0, 0) scale(1)">
														<g id="SvgjsG2138" class="apexcharts-slices">
															<g id="SvgjsG2139" class="apexcharts-series apexcharts-pie-series" seriesname="Monday" rel="1" data:realindex="0">
																<path id="SvgjsPath2140" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(53,171,182,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-0" index="0" j="0" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
															<g id="SvgjsG2141" class="apexcharts-series apexcharts-pie-series" seriesname="Tuesday" rel="2" data:realindex="1">
																<path id="SvgjsPath2142" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(255,162,29,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-1" index="0" j="1" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
															<g id="SvgjsG2143" class="apexcharts-series apexcharts-pie-series" seriesname="Wednesday" rel="3" data:realindex="2">
																<path id="SvgjsPath2144" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(255,58,110,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-2" index="0" j="2" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
															<g id="SvgjsG2145" class="apexcharts-series apexcharts-pie-series" seriesname="Thursday" rel="4" data:realindex="3">
																<path id="SvgjsPath2146" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(111,217,67,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-3" index="0" j="3" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
															<g id="SvgjsG2147" class="apexcharts-series apexcharts-pie-series" seriesname="Friday" rel="5" data:realindex="4">
																<path id="SvgjsPath2148" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(92,99,106,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-4" index="0" j="4" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
															<g id="SvgjsG2149" class="apexcharts-series apexcharts-pie-series" seriesname="Saturday" rel="6" data:realindex="5">
																<path id="SvgjsPath2150" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(24,30,40,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-5" index="0" j="5" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
															<g id="SvgjsG2151" class="apexcharts-series apexcharts-pie-series" seriesname="Sunday" rel="7" data:realindex="6">
																<path id="SvgjsPath2152" d="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" fill="rgba(2,136,209,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-6" index="0" j="6" data:angle="0" data:startangle="0" data:strokewidth="2" data:value="0" data:pathorig="M 97.5 8.378048780487802 A 89.1219512195122 89.1219512195122 0 0 1 97.5 8.378048780487802 L 97.5 97.5 L 97.5 8.378048780487802" stroke="#ffffff"></path>
															</g>
														</g>
													</g>
												</g>
												<line id="SvgjsLine2153" x1="0" y1="0" x2="195" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
												<line id="SvgjsLine2154" x1="0" y1="0" x2="195" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
											</g>
											<g id="SvgjsG2133" class="apexcharts-annotations"></g>
										</svg>
										<div class="apexcharts-tooltip apexcharts-theme-dark">
											<div class="apexcharts-tooltip-series-group" style="order: 1;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(53, 171, 182);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
											<div class="apexcharts-tooltip-series-group" style="order: 2;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 162, 29);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
											<div class="apexcharts-tooltip-series-group" style="order: 3;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 58, 110);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
											<div class="apexcharts-tooltip-series-group" style="order: 4;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(111, 217, 67);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
											<div class="apexcharts-tooltip-series-group" style="order: 5;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(92, 99, 106);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
											<div class="apexcharts-tooltip-series-group" style="order: 6;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(24, 30, 40);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
											<div class="apexcharts-tooltip-series-group" style="order: 7;">
												<span class="apexcharts-tooltip-marker" style="background-color: rgb(2, 136, 209);"></span>
												<div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
													<div class="apexcharts-tooltip-y-group">
														<span class="apexcharts-tooltip-text-y-label"></span>
														<span class="apexcharts-tooltip-text-y-value"></span>
													</div>
													<div class="apexcharts-tooltip-goals-group">
														<span class="apexcharts-tooltip-text-goals-label"></span>
														<span class="apexcharts-tooltip-text-goals-value"></span>
													</div>
													<div class="apexcharts-tooltip-z-group">
														<span class="apexcharts-tooltip-text-z-label"></span>
														<span class="apexcharts-tooltip-text-z-value"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="row">
								<div class="col">
									<div class="card">
										<div class="card-body">
											<h4 class="header-title">Sources Conversion</h4>
											<div dir="ltr">
												<div id="basic-bar" class="apex-charts" data-colors="#39afd1"></div>
											</div>
										</div>
										<!-- end card body-->
									</div>
									<!-- end card -->
								</div>
								<!-- end col-->
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<div class="row">
									<div class="col-9">
										<h5>Monthly</h5>
									</div>
									<div class="col-3 float-right">
										<select name="month" class="form-control selectpicker" id="selectmonth" data-none-selected-text="Nothing selected">
											<option value=" ">Select Month</option>
											<option value="1">January</option>
											<option value="2">February</option>
											<option value="3">March</option>
											<option value="4">April</option>
											<option value="5">May</option>
											<option value="6">June</option>
											<option value="7">July</option>
											<option value="8">August</option>
											<option value="9">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="card">
										<div
											class="card-body">
											{# <h4 class="header-title">Monthly</h4> #}
											<div dir="ltr">
												<div id="basic-bar" class="apex-charts" data-colors="#39afd1"></div>
											</div>
										</div>
										<!-- end card body-->
									</div>
									<!-- end card -->
								</div>
								<!-- end col-->
							</div>
						</div>
					</div>
					<div id="staff-report" class="card">
						<div class="card">
							<div class="card-header">
								<div class="row">
									<div class="col-9">
										<h5>Staff Report</h5>
									</div>
									<div class="row">
										<div class="col-md-4">
											<label for="From Date" class="col-form-label">From Date</label>
											<input class="form-control from_date" id="data_picker1" name="From Date" type="date">
											<span id="fromDate" style="color: red;"></span>
										</div>
										<div class="col-md-4">
											<label for="To Date" class="col-form-label">To Date</label>
											<input class="form-control to_date" id="data_picker2" name="To Date" type="date">
											<span id="toDate" style="color: red;"></span>
										</div>
										<div class="col-md-4" id="filter_type" style="padding-top : 38px;">
											<button class="btn btn-primary label-margin generate_button">Generate</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="card">
										<div
											class="card-body">
											{# <h4 class="header-title">Monthly</h4> #}
											<div dir="ltr">
												<div id="basic-bar" class="apex-charts" data-colors="#39afd1"></div>
											</div>
										</div>
										<!-- end card body-->
									</div>
									<!-- end card -->
								</div>
								<!-- end col-->
							</div>
						</div>
					</div>
					<div class="card">
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-body">
										<h4 class="header-title">Pipeline Report</h4>
										<div dir="ltr">
											<div id="basic-bar" class="apex-charts" data-colors="#39afd1"></div>
										</div>
									</div>
									<!-- end card body-->
								</div>
								<!-- end card -->
							</div>
							<!-- end col-->
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block javascript %}
	<!-- Apex Chart js -->
	<script src="/vendor/apexcharts/apexcharts.min.js"></script>
	<!-- Apex Chart Bar Demo js -->
	<script src="/js/pages/demo.apex-bar.js"></script>
{% endblock %}
