{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Expense Summary
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Download">
					<span class="btn-inner--icon">
						<i class="bi bi-download"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Income Vs Expense Summary', page_title: 'Income Vs Expense Summary' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="mt-2 " id="multiCollapseExample1">
				<div class="card">
					<div class="card-body">
						<form method="GET" action="#" accept-charset="UTF-8" id="income_vs_expense_summary">
							<div class="row align-items-center justify-content-end">
								<div class="col-xl-10">
									<div class="row">
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="year" class="form-label">Year</label>
												<select class="form-control select" id="year" name="year">
													<option value="2023">2023</option>
													<option value="2022">2022</option>
													<option value="2021">2021</option>
													<option value="2020">2020</option>
													<option value="2019">2019</option>
													<option value="2018">2018</option>
												</select>
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="category" class="form-label">Category</label>
												<select class="form-control select" id="category" name="category">
													<option value="" selected="selected">Select Category</option>
												</select>
											</div>
										</div>

										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="customer" class="form-label">Customer</label>
												<select class="form-control select" id="customer" name="customer">
													<option value="" selected="selected">Select Customer</option>
													<option value="10">Habeebi</option>
													<option value="11">Saleem Shahzad</option>
													<option value="12">Billy ban</option>
												</select>
											</div>
										</div>

										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="vender" class="form-label">Vendor</label>
												<select class="form-control select" id="vender" name="vender">
													<option value="" selected="selected">Select Vendor</option>
													<option value="8">Supplier 1</option>
												</select>
											</div>
										</div>


									</div>
								</div>
								<div class="col-auto">
									<div class="row">
										<div class="col-auto mt-4">
											<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('income_vs_expense_summary').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
												<span class="btn-inner--icon">
													<i class="bi bi-search"></i>
												</span>
											</a>
											<a href="#" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
												<span class="btn-inner--icon">
													<i class="bi bi-trash"></i>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col">
			<input type="hidden" value="All Income Summary Report of Jan-2023 to Dec-2023" id="filename">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Report :</h6>
				<h5 class="report-text mb-0 text-dark">Expense Summary</h5>
			</div>
		</div>
		<div class="col">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Duration :</h6>
				<h5 class="report-text mb-0 text-dark">--</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="header-title">Summary</h4>
					<div dir="ltr">
						<div id="basic-bar" class="apex-charts" data-colors="#39afd1"></div>
					</div>
				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-body table-border-style">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Type</th>
								<th>January</th>
								<th>February</th>
								<th>March</th>
								<th>April</th>
								<th>May</th>
								<th>June</th>
								<th>July</th>
								<th>August</th>
								<th>September</th>
								<th>October</th>
								<th>November</th>
								<th>December</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="13" class="text-dark">
									<span>Income :
									</span>
								</td>
							</tr>
							<tr>
								<td>Revenue</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
							</tr>
							<tr>
								<td>Invoice</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
							</tr>
							<tr>
								<td colspan="13" class="text-dark">
									<span>Expense :
									</span>
								</td>
							</tr>
							<tr>
								<td>Payment</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
							</tr>
							<tr>
								<td>Bill</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
							</tr>
							<tr>
								<td colspan="13" class="text-dark">
									<span>Profit = Income - Expense
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<h6>Profit</h6>
								</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$0.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Apex Chart js -->
	<script src="/vendor/apexcharts/apexcharts.min.js"></script>
	<!-- Apex Chart Bar Demo js -->
	<script src="/js/pages/demo.apex-bar.js"></script>
{% endblock %}
