{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Payroll
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary export-btn" data-bs-original-title="Export" data-table-id="basic-datatable" data-table-name="payroll">
					<i class="bi bi-box-arrow-up"></i>
				</a>
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Download">
					<span class="btn-inner--icon">
						<i class="bi bi-download"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Payroll', page_title: 'Payroll' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class=" mt-2 " id="multiCollapseExample1">
				<div class="card">
					<div class="card-body">
						<form method="GET" action="#" accept-charset="UTF-8" id="report_payroll">
							<div class="row align-items-center justify-content-end">
								<div class="col-xl-10">
									<div class="row">
										<div class="col-3 mt-2">
											<label class="form-label">Type</label>
											<br>
											<div class="form-check form-check-inline form-group">
												<input type="radio" id="monthly" value="monthly" name="type" class="form-check-input" checked="">
												<label class="form-check-label" for="monthly">Monthly</label>
											</div>
											<div class="form-check form-check-inline form-group">
												<input type="radio" id="daily" value="daily" name="type" class="form-check-input">
												<label class="form-check-label" for="daily">Daily</label>
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 month d-block">
											<div class="btn-box">
												<label for="month" class="form-label">Month</label>
												<input class="month-btn form-control" name="month" type="month" value="2023-11" id="month">
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 year d-none">
											<div class="btn-box">
												<label for="year" class="form-label">Year</label>
												<select class="form-control select" id="year" name="year" tabindex="-1" aria-hidden="true">
													<option value="2018">2018</option>
													<option value="2019">2019</option>
													<option value="2020">2020</option>
													<option value="2021">2021</option>
													<option value="2022">2022</option>
													<option selected="" value="2023">2023</option>
													<option value="2024">2024</option>
													<option value="2025">2025</option>
													<option value="2026">2026</option>
													<option value="2027">2027</option>
													<option value="2028">2028</option>
												</select>
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="branch" class="form-label">Branch</label>
												<select class="form-control select" id="branch" name="branch">
													<option value="" selected="selected">Select Branch</option>
												</select>
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="department" class="form-label">Department</label>
												<select class="form-control select" id="department" name="department">
													<option value="" selected="selected">Select Department</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-auto mt-4">
									<div class="row">
										<div class="col-auto">
											<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('report_payroll').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
												<span class="btn-inner--icon">
													<i class="bi bi-search"></i>
												</span>
											</a>
											<a href="#" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
												<span class="btn-inner--icon">
													<i class="bi bi-trash"></i>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col">
			<input type="hidden" value="All Branch Nov-2023 Monthly Payroll Report of All Department" id="filename">
			<div class="card p-4 mb-4">
				<h6 class="mb-0">Report :</h6>
				<h5 class="text-sm mb-0 text-dark">Monthly Payroll Summary</h5>
			</div>
		</div>

		<div class="col">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Duration :</h6>
				<h5 class="text-sm mb-0 text-dark">Nov-2023</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Basic Salary :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Net Salary :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Allowance :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Commission :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Loan :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Saturation Deduction :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Other Payment :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			<div class="card p-4 mb-4">
				<h6 class=" mb-0">Total Overtime :</h6>
				<h5 class="text-sm mb-0 text-dark">$0.00</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Employee ID</th>
								<th>Employee</th>
								<th>Salary</th>
								<th>Net Salary</th>
								<th>Month</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
																																											<td>Cara Stevens</td>
																																											<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
																																											<td>New York</td>
																																											<td>46</td>
																																											<td>2011/12/06</td>
																																											<td>2011/12/06</td>
																																										</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>

	<!-- Table Export js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
	<script src="/js/pages/demo.tableexport.js"></script>
{% endblock %}
