{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Tax Summary
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Export">
					<i class="bi bi-box-arrow-up"></i>
				</a>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Tax Summary', page_title: 'Tax Summary' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class=" mt-2 " id="multiCollapseExample1">
				<div class="card">
					<div class="card-body">
						<form method="GET" action="#" accept-charset="UTF-8" id="report_profit_loss_summary">
							<div class="row align-items-center justify-content-end">
								<div class="col-xl-10">
									<div class="row">

										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box"></div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box"></div>
										</div>

										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box"></div>
										</div>

										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="year" class="form-label">Year</label>

												<select class="form-control select" id="year" name="year">
													<option value="2023">2023</option>
													<option value="2022">2022</option>
													<option value="2021">2021</option>
													<option value="2020">2020</option>
													<option value="2019">2019</option>
													<option value="2018">2018</option>
												</select>
											</div>
										</div>

									</div>
								</div>
								<div class="col-auto">
									<div class="row">
										<div class="col-auto mt-4">
											<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('report_profit_loss_summary').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
												<span class="btn-inner--icon">
													<i class="bi bi-search"></i>
												</span>
											</a>
											<a href="#" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
												<span class="btn-inner--icon">
													<i class="bi bi-trash"></i>
												</span>
											</a>
										</div>

									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col">
			<input type="hidden" value="Profit &amp; Loss Summary Report of Jan-2023 to Dec-2023" id="filename">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Report :</h6>
				<h5 class="report-text mb-0 text-dark">Tax Summary</h5>
			</div>
		</div>
		<div class="col">
			<div class="card p-4 mb-4">
				<h6 class="report-text gray-text mb-0">Duration :</h6>
				<h5 class="report-text mb-0 text-dark">--</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body table-border-style">
					<div class="col-sm-12">
						<h5>Income</h5>
						<div class="table-responsive mt-3 mb-3">
							<table class="table">
								<thead>
									<tr>
										<th>Tax</th>
										<th>January</th>
										<th>February</th>
										<th>March</th>
										<th>April</th>
										<th>May</th>
										<th>June</th>
										<th>July</th>
										<th>August</th>
										<th>September</th>
										<th>October</th>
										<th>November</th>
										<th>December</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="13" class="text-center">Income tax not found</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-sm-12">
						<h5>Expense</h5>
						<div class="table-responsive mt-4">
							<table class="table">
								<thead>
									<tr>
										<th>Tax</th>
										<th>January</th>
										<th>February</th>
										<th>March</th>
										<th>April</th>
										<th>May</th>
										<th>June</th>
										<th>July</th>
										<th>August</th>
										<th>September</th>
										<th>October</th>
										<th>November</th>
										<th>December</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="13" class="text-center">Expense tax not found</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
